<div class="inline-block form-add_mini only-for-our-products">
{#    {% for task_form in tasks_forms %}#}
        <div class="repeatable">
            {% include "order_claim/modules/task_block.html" %}
        </div>
{#    {% endfor %}#}

{#    <div class="repeat">#}
{#        <div class="control-group">#}
{#            <label class="control-label">#}
{#                Еще#}
{#            </label>#}
{#            <div class="controls">#}
{#                <a class="btn btn-success plus_item">+</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>

<script type="text/javascript">
    (function($) {
        $(document).ready(function() {

        });
    })(jQuery);
</script>