{% block bill-status-block %}
    {% if claim.bill_status != None %}
    {% if claim.bill_status|title == "Закрыта" %}
        <a class="get-closed-claim-info" data-toggle="modal" href="#closed-claim-info">
    {% endif %}
        {{ claim.bill_status }}
        {% if claim.bill_status|title == "Закрыта" %}
            <div class="hidden closed-claim-info__data">
                <div class="closed-claim-data__reason">{{ claim.reason.reason.title }}</div>
                <div class="closed-claim-data__final-comment">{{ claim.reason.final_comment }}</div>
            </div>
        </a>
        {% endif %}
    {% endif %}
{% endblock %}