{% block related_with %}
    {% if claim.related %}
        <a class="label_related
        {% if claim.related_color == 0 %}
            label_related_red
        {% elif claim.related_color == 1 %}
            label_related_orange
        {% elif claim.related_color == 2 %}
            label_related_green
        {% else %}
            label_related_purple
        {% endif %}
           " href="#related-claim" role="button" data-toggle="modal" value="{{ claim.pk }}"></a>
    {% endif %}
{% endblock %}