{%extends "base.html" %}

{%block content%}
    <div class="container container_fixed_width">
        <style scoped="">
            .typeahead {
                top: 300px !important;
            }
        </style>
        {% url 'add_claim' as add_claim_url %}
        {% url 'edit_claim' as edit_claim_url %}
        {% url 'add_order' as add_order_url %}
        {% url 'edit_order' as edit_order_url %}
        <a href="{% if request.GET.search %}
            {% url "search" %}{% elif request.path == add_claim_url and client_id >= 0 %}
            {% url "get_interested_clients" %}{% elif request.GET.archive %}
            {% url "get_old_orders" %}{% elif request.GET.history %}
            {% url "get_orders" %}?client-id={{ client_id }}{% elif request.path == add_order_url and client_id >= 0 %}
            {% url "get_clients" %}{% elif request.path == add_claim_url or request.path == edit_claim_url %}
            {% url "get_claims" %}{% else %}
            {% url "get_orders" %}{% endif %}" class="btn back-button">Назад</a>

        {% if request.path == edit_claim_url %}
            <a class="btn pull-right btn-danger" data-toggle="modal" href="#close-claim">Закрыть заявку</a>
        {% endif %}
        {% if request.path == edit_claim_url or request.path == edit_order_url %}
            <a href="
            {% if request.path == edit_claim_url %}
                {% url "add_claim" %}?copy={{ request.GET.id }}" class="btn pull-right pull-right_second">Копировать заявку
            {% else %}
                {% url "add_order" %}?copy={{ request.GET.id }}" class="btn pull-right pull-right_second">Копировать заказ
            {% endif %}</a>
        {% endif %}
        {% if request.path == edit_claim_url %}
            <a href="{% url 'edit_kp' %}?id={{ request.GET.id }}" target="_blank" class="btn pull-right pull-right_second generate-kp-button">Сформировать КП</a>
        {% endif %}
        <form class="form-horizontal form-add form-add-order" method="post" action="">
            <h2 class="form-add__head">{{ page_title }}</h2>
            <h5 class="form-add__please">Пожалуйста, заполните следующую форму:</h5>
            {% if error == 1 %}
                <div class="text-error">
                    Ошибка в заполнении формы заказа.
                </div>
            {% endif %}
            {% if error == 2 %}
                <div class="text-error">
                    Данное наименование уже есть в списке продукции.
                </div>
            {% endif %}
            {% if error == 3 %}
                <div class="text-error">
                    Вы не добавили ни один продукт в заказ.
                </div>
            {% endif %}
            {% if request.GET.id %}
                <input type="hidden" name="pk" value="{{ request.GET.id }}">
            {% endif %}
            <div class="inline-block">
                {# Менеджер #}
                {% if request.path == edit_claim_url or request.path == edit_order_url %}
                    {% if user_role == 0 and order_form.role %}
                        <div class="control-group">
                            <label class="control-label" for="selectRole">
                                Менеджер
                                <span class="required-input">*</span>
                            </label>
                            <div class="controls">
                                {{ order_form.role }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {# Клиент #}
                <div class="control-group form-add__client">
                    <label class="control-label" for="selectClient">
                        Клиент
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ order_form.client }}
                        {% url 'edit_order' as edit_order_url %}
                        {% if not request.GET.id %}
                            <a class="btn btn-success plus_client" data-toggle="modal" href="#add-client">+</a>
                        {% endif %}
                    </div>
                </div>
                <div class="only-for-our-products">
                    {# Номер счета #}
                    <div class="control-group">
                        <label class="control-label" for="id_account_number">
                            Номер счета
                        </label>
                        <div class="controls">
                            {{ order_form.account_number }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="selectCompany">
                            Компания
                            {% if request.path == add_claim_url or request.path == edit_claim_url %}
                                <span class="required-input">*</span>
                            {% endif %}
                        </label>
                        <div class="controls">
                            {{ order_form.company }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputBill">
                            Сумма счета
                        </label>
                        <div class="controls">
                            {{ order_form.bill }}
                        </div>
                    </div>
                    {% if request.path == add_claim_url or request.path == edit_claim_url %}
                    <div class="control-group">
                        <label class="control-label" for="selectBillStatus">
                            Статус заявки
                            <span class="required-input">*</span>
                        </label>
                        <div class="controls">
                            {{ order_form.bill_status }}
                        </div>
                    </div>
                    {% else %}
                        <div class="control-group">
                            <label class="control-label" for="selectStatus">
                                Статус заказа
                            </label>
                            <div class="controls">
                                {{ order_form.order_status }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="selectBillStatus">
                                Статус оплаты
                            </label>
                            <div class="controls">
                                {{ order_form.bill_status }}
                            </div>
                        </div>
                    {% endif %}
                    {# hide #}
                    <div class="control-group brought-sum hide">
                        <label class="control-label" for="inputBroughtSum">
                            Внесена сумма
                        </label>
                        <div class="controls">
                            {{ order_form.brought_sum }}
                        </div>
                    </div>

                    {# hide if claim  #}
                    <div class="control-group claim-to-order-group payment-date{% if request.path == add_claim_url or request.path == edit_claim_url %} hide{% endif %}">
                        <label class="control-label" for="inputPaymentDate">
                            Дата оплаты
                        </label>
                        <div class="controls">
                            <div id="paymentDate" class="input-append date">
                                {{ order_form.payment_date }}
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    {# hide if claim  #}
                    <div class="control-group claim-to-order-group ready-date{% if request.path == add_claim_url or request.path == edit_claim_url %} hide{% endif %}">
                        <label class="control-label" for="inputReadyDate">
                            Дата готовности
                        </label>
                        <div class="controls">
                            <div id="readyDate" class="input-append date">
                                {{ order_form.ready_date }}
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    {% if request.path == add_order_url or request.path == edit_order_url %}
                        <div class="control-group">
                            <label class="control-label" for="inputShippedDate">
                                Дата отгрузки
                            </label>
                            <div class="controls">
                                <div id="shippedDate" class="input-append date">
                                    {{ order_form.shipped_date }}
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# hide if claim  #}
                    <div class="control-group claim-to-order-group city{% if request.path == add_claim_url or request.path == edit_claim_url %} hide{% endif %}">
                        <label class="control-label" for="id_city">
                            Доставка (город)
                        </label>
                        <div class="controls">
                            {{ order_form.city }}
                            <label for="inputCity" class="label_between">
                                или добавьте новый город
                            </label>
                            <input id="inputCity" type="text" name="newCity"  placeholder="Название нового города"/>
                        </div>
                    </div>

                    {# hide if claim  #}
                    <div class="control-group claim-to-order-group transport-campaign{% if request.path == add_claim_url or request.path == edit_claim_url %} hide{% endif %}">
                        <label class="control-label" for="id_transport_campaign">
                            Транспортная компания
                        </label>
                        <div class="controls">
                            {{ order_form.transport_campaign }}
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputComment">
                        Комментарии
                    </label>
                    <div class="controls">
                        {{ order_form.comment }}
                    </div>
                </div>

                {# hide if claim #}
                <div class="control-group claim-to-order-group factory-comment{% if request.path == add_claim_url or request.path == edit_claim_url %} hide{% endif %}">
                    <label class="control-label" for="inputFactoryComment">
                        Информация для производства
                    </label>
                    <div class="controls">
                        {{ order_form.factory_comment }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_source">
                        Источник
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ order_form.source }}
                    </div>
                </div>

                {% if request.path == edit_order_url or request.path == edit_claim_url %}
                    <div class="control-group">
                        <label class="control-label">
                            Прикрепленные файлы
                        </label>
                        <div class="controls">
                            <a class="btn" data-toggle="modal" href="#manage-attachments">Управление файлами</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if request.path == add_claim_url %}
                {% include "order_claim/modules/no_our_products.html" %}
            {% endif %}
            <div class="only-for-our-products">
                <table class="table table-hover table-bordered input" id="add-product-table">
                    <thead>
                        <tr>
                            <th>Продукция</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if order_form.products %}
                            {% for product in order_form.products %}
                                {% if product.is_active == True %}
                                    <tr>
                                        <td>{{ product.title }}</td>
                                        <td class="product-wrap">
                                            {{ product.price_right_format }}
                                            <div class="hidden">{{ product.price }}</div>
                                        </td>
                                        <td>
                                            <span class="btn btn-success plus pull-right" data-productId="{{ product.pk }}">+</span>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table><!--
                --><div class="select-product-table_wrapper">
                    <table class="select-product-table table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Выбранная продукция <span class="required-input">*</span></th>
                                <th>Цена</th>
                                <th>Количество</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="select-product-table__plus">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="btn btn-success plus pull-right">+</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if order_form.products %}
                <select multiple class="product-select hidden" name="products[]">
                    {% for product in order_form.products %}
                        <option value="{{ product.pk }}"
                            {% if product.count_of_products %}
                                data-number="{{ product.count_of_products }}"
                                data-price="{{ product.price }}"
                                selected="selected"
                            {% endif %}
                        >
                            {{ product.title }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
            {% include "order_claim/modules/edit_claim__related_with.html" %}
            <div class="form-add">
                <div class="form-add__tips">
                    <div class="form-add-tips__tip">
                        <span class="required-input">*</span> - поля, обязательные для заполнения
                    </div>
                </div>
                <div class="form-add__submits">
                    <button type="submit" class="btn btn-primary" name="only-save" value="only-save">Сохранить</button>
                    {% if request.path == add_claim_url %}
                        <button type="submit" class="btn only-for-our-products" name="save-and-generate-kp" value="save-and-generate-kp">Сохранить и перейти к формированию КП</button>
                    {% endif %}
                    {% if request.path == add_order_url or request.path == add_claim_url %}
                        <button type="submit" class="btn" name="save-and-upload-file" value="save-and-upload-file">Сохранить и перейти к загрузке файлов</button>
                    {% endif %}
                    <button type="button" class="btn">Очистить</button>
                </div>
            </div>
        </form>
    </div>
    {% if not request.GET.id %}
        <div class="modal hide fade" id="add-client" tabindex="-1" role="dialog" aria-labelledby="ClientLabel" aria-hidden="true">
        {% url 'add_claim' as add_claim_url %}
        {% if request.path == add_claim_url %}
            <form class="form-horizontal form-add_modal form-add-client" method="post" action="{% url "add_client" %}?is_interested=1">
        {% else %}
            <form class="form-horizontal form-add_modal form-add-client" method="post" action="{% url "add_client" %}">
        {% endif %}
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3 class="form-add__head">{{ modal_title }}</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-add__submits">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="reset" class="btn">Очистить</button>
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    {% if request.path == edit_order_url or request.path == edit_claim_url %}
        <div class="modal hide fade" id="manage-attachments" tabindex="-1">
            <form class="form-horizontal form-add_modal form-add-file" method="post" action="{% url "upload_order_files" %}?id={{ request.GET.id }}" enctype="multipart/form-data" role="form">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3 class="form-add__head">Управление файлами</h3>
                </div>
                <div class="modal-body">
                <div class="form-add__in-modal"></div>
                <div class="form-add__submits">
                    <button type="submit" class="btn btn-primary">Добавить файл</button>
                </div>
                </div>
                <div class="modal-footer">
                    <div class="form-add__submits">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal hide fade" id="delete-file" tabindex="-1">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Вы уверены, что хотите удалить этот файл?</h3>
            </div>
            <div class="modal-footer">
                <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#add-product-table").dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU_abbr.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 1 ] },
                        { "bSearchable": false, "aTargets": [ 1 ] }
                    ]
                });
                    $('#paymentDate').datetimepicker({
                        format: 'yyyy-MM-dd hh:mm:ss',
                        language: 'ru',
                        pickSeconds: false,
                        weekStart: 1
                    });
                    $('#readyDate').datetimepicker({
                        format: 'yyyy-MM-dd hh:mm:ss',
                        language: 'ru',
                        pickSeconds: false,
                        weekStart: 1
                    });
                {% if request.path != add_claim_url and request.path != edit_claim_url %}
                    $('#shippedDate').datetimepicker({
                        format: 'yyyy-MM-dd',
                        language: 'ru',
                        pickTime: false,
                        weekStart: 1
                    });
                    {# При проставлении статуса «отгружен» не давать сохранить без заполнения поля «даты отгрузки» #}
                    var $shipped_date = $('#inputShippedDate');
                    var $shipped_date_label = $("label[for=\"inputShippedDate\"]");
                    var shipped_date_label_text = $shipped_date_label.text();
                    var $select_status = $('#selectStatus');
                    if ($select_status.val() == 1) {
                        $shipped_date.prop("required", true);
                        $shipped_date_label.html(shipped_date_label_text + "<span class=\"required-input\">*</span>");
                    }
                    $select_status.change(function() {
                        if ($(this).val() == 1) {
                            $shipped_date.prop("required", true);
                            $shipped_date_label.html(shipped_date_label_text + "<span class=\"required-input\">*</span>");
                        }
                        else {
                            $shipped_date.prop("required", false);
                            $shipped_date_label.html(shipped_date_label_text);
                        }
                    });
                {% endif %}
                {# selectCity #}
                var $select_city = $('#id_city');
                $select_city.attr({
                    'data-live-search': "true",
                    'data-size': "10"
                });
                {# Первыми (после пустого -----) поставить записи с определенными value (Челябинск, Москва, Самовывоз) #}
                var $select_city__empty_option = $select_city.find('option[value=""]');
                var values = [19, 14, 10]; {# Самовывоз, Москва, Челябинск #}
                values.forEach(function(item) {
                    $select_city__empty_option.after($select_city.find('option[value='+ item +']'));
                });
                $select_city.selectpicker();

                $('select.product-select option:selected').each(function() {
                    var $this = $(this);
                    var product_id = $this.attr('value');
                    var $plus = $('.plus[data-productId="' + product_id + '"]');
                    if ($plus.length) {
                        $plus.click();
                    }
                    else {
                        $this.click();
                    }
                });

                var $select_client = $('#id_client');
                $select_client.attr({
                    'data-live-search': "true",
                    'data-size': "10"
                });
                $select_client.selectpicker();

                var $select_company = $('#id_company');
                {% if request.path == add_claim_url or request.path == edit_claim_url %}
                    {#id_company -> required + первый option сделать disabled #}
                    $select_company.prop("required", true);
                    $select_company.find('option:first').prop("disabled", true);
                {% endif %}
                if (!$select_company.val()) {
                    $('.generate-kp-button').addClass('hide');
                }
{#                $select_company.attr({#}
{#                    'data-live-search': "true",#}
{#                    'data-size': "10"#}
{#                });#}
{#                $select_company.selectpicker();#}

                {#id_source -> required + первый option сделать disabled #}
                var $select_source = $('#id_source');
                $select_source.prop("required", true);

                function get_get_params() {
                    var need_get_params = ['page', 'length', 'sort', 'source', 'managers', 'search'];
                    var get_params = "";
                    var is_get_param = false;
                    var all_get_params = window.location.search.substring(1).split("&");
                    for (var i = 0; i < all_get_params.length; ++i) {
                        for (var j = 0; j < need_get_params.length; ++j) {
                            if (all_get_params[i].indexOf(need_get_params[j]) != -1) {
                                is_get_param = true;
                                break;
                            }
                        }
                        if (is_get_param) {
                            get_params += "&" + all_get_params[i];
                        }
                    }
                   return get_params;
                }

                var get_params = get_get_params();

                $('.form-add-order').submit(function(){
                    var $this = $(this);
                    var action = $this.attr('action');
                    if (action.indexOf('?') != -1) {
                        $this.attr('action', action + get_params);
                    }
                    else {
                        $this.attr('action', action + "?" + get_params.slice(1));
                    }
                });
                $('.back-button').click(function(){
                    var $this = $(this);
                    var href = $this.attr('href');
                    if (href.indexOf('?') != -1) {
                        $this.attr('href', href + get_params);
                    }
                    else {
                        $this.attr('href', href + "?" + get_params.slice(1));
                    }
                });

                {% if request.path == add_order_url or request.path == add_claim_url %}
                var url;
                {% if request.path == add_claim_url %}
                    url = "{% url "add_client" %}?is_interested=1";
                {% else %}
                    url = "{% url "add_client" %}";
                {% endif %}
                var $add_client = $('#add-client');
                var $style = $('style');

                $add_client.find(".modal-body").load(url + ' .in-modal', function() {
                    $("#inputOrganization").attr({
                        'data-provide': "typeahead",
                        'data-items': "10",
                        'data-source': '[{% for organization in organizations %}"{{ organization }}", {% endfor %} ""]'
                    });

                    $('.form-add-client').on('submit', function(e) {
                        e.preventDefault();
                        $.ajax({
                            type: $(this).attr('method'),
                            url: this.action,
                            data: $(this).serialize(),
                            context: this,
                            success: function(data, status) {
                                var $in_modal = $(data).find(".in-modal").children();
                                if ($in_modal.length == 0) {
                                    $add_client.modal("hide");
                                    $add_client.find(".modal-body").load(url + ' .in-modal', function() {
                                        $("#inputOrganization").attr({
                                            'data-provide': "typeahead",
                                            'data-items': "10",
                                            'data-source': '[{% for organization in organizations %}"{{ organization }}", {% endfor %} ""]'
                                        });
                                        $style.html(".typeahead { top: 300px !important; }");
                                    });
                                    $('.form-add__client').html($(data).find(".form-add__client").children());
                                    var $select_client = $('#id_client');
                                    $select_client.attr({
                                        'data-live-search': "true",
                                        'data-size': "10"
                                    });
                                    $select_client.selectpicker();
                                }
                                else {
                                    $(".form-add-client .modal-body").html($in_modal);
                                    $("#inputOrganization").attr({
                                        'data-provide': "typeahead",
                                        'data-items': "10",
                                        'data-source': '[{% for organization in organizations %}"{{ organization }}", {% endfor %} ""]'
                                    });

                                    if ($(".text-error_one").size()) {
                                        $style.html(".typeahead { top: 330px !important; }");
                                    }
                                    else {
                                        if ($(".text-error_two").size()) {
                                            $style.html(".typeahead { top: 350px !important; }");
                                        }
                                    }
                                }
                            }
                        });
                        return false;
                    });
                });
                {% else %}
                var $manage_attachments = $("#manage-attachments");
                var manage_attachments_url = "{% url "upload_order_files" %}?id={{ request.GET.id }}";
                $manage_attachments.find(".form-add__in-modal").load( manage_attachments_url + ' .in-modal', function() {
                    $('.btn-file').each(function (){
                        var self = this;
                        $('input[type=file]', this).change(function (){
                            $(self).next().remove();
                            var value = $(this).val();
                            var fileName = value.substring(value.lastIndexOf('/') + 1);
                            fileName = value.substring(value.lastIndexOf('\\') + 1);
                            var fileExt = fileName.split('.').pop().toLowerCase();
                            $('<span><i class="icon-file icon-' + fileExt + '"></i> ' + fileName + '</span>').insertAfter(self);
                        });
                    });
                    $('.delete-button').bind('click', function(){
                        var id = $(this).attr('value');
                        $('#delete__ok').attr({'href': '{% url "delete_order_files" %}?id=' + id});
                    });
                });
                $('.form-add-file').on('submit', function(e) {
                    e.preventDefault();
                    var formdata = false;
                    if(window.FormData){
                        formdata = new FormData($(this)[0]);
                    }
                    $.ajax({
                        type: $(this).attr('method'),
                        url: this.action,
                        data: formdata ? formdata : $(this).serialize(),
                        context: this,
                        processData: false,
                        contentType: false,
                        success: function(data, status) {
                            $manage_attachments.find(".form-add__in-modal").load(manage_attachments_url + ' .in-modal', function() {
                                $('.btn-file').each(function (){
                                    var self = this;
                                    $('input[type=file]', this).change(function (){
                                        $(self).next().remove();
                                        var value = $(this).val();
                                        var fileName = value.substring(value.lastIndexOf('/') + 1);
                                        fileName = value.substring(value.lastIndexOf('\\') + 1);
                                        var fileExt = fileName.split('.').pop().toLowerCase();
                                        $('<span><i class="icon-file icon-' + fileExt + '"></i> ' + fileName + '</span>').insertAfter(self);
                                    });
                                });
                                $('.delete-button').bind('click', function(){
                                    var id = $(this).attr('value');
                                    $('#delete__ok').attr({'href': '{% url "delete_order_files" %}?id=' + id});
                                });
                            });
                        }
                    });
                    return false;
                });
                $("#delete__ok").bind('click', function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr('href'),
                        success: function(data, status) {
                            $("#delete-file").modal("hide");
                            $manage_attachments.find(".form-add__in-modal").load(manage_attachments_url + ' .in-modal', function() {
                                $('.btn-file').each(function (){
                                    var self = this;
                                    $('input[type=file]', this).change(function (){
                                        $(self).next().remove();
                                        var value = $(this).val();
                                        var fileName = value.substring(value.lastIndexOf('/') + 1);
                                        fileName = value.substring(value.lastIndexOf('\\') + 1);
                                        var fileExt = fileName.split('.').pop().toLowerCase();
                                        $('<span><i class="icon-file icon-' + fileExt + '"></i> ' + fileName + '</span>').insertAfter(self);
                                    });
                                });
                                $('.delete-button').bind('click', function(){
                                    var id = $(this).attr('value');
                                    $('#delete__ok').attr({'href': '{% url "delete_order_files" %}?id=' + id});
                                });
                            });
                        }
                    });
                });
                {% endif %}
            });
            $(window).load(function () {
                $("#add-product-table_filter").find("input[type='search']").attr("placeholder", "Поиск");
            });
        })(jQuery);
    </script>
    {% include "order_claim/modules/add_edit_order_hard_links.html" %}
    {% include "order_claim/modules/transform_claim_to_order.html" %}
    {% if request.path == add_claim_url %}
        {% include "order_claim/modules/no_our_products_script.html" %}
    {% endif %}
    {% if request.path == edit_claim_url %}
        {% include "order_claim/modules/close_claim_modal.html" %}
    {% endif %}
{%endblock%}