{%extends "base.html" %}

{%block content%}
    <div class="container">
        <a href="{% if request.GET.search %}
            {% url "search" %}{% else %}
            {% url "get_orders" %}{% endif %}" class="btn back-button">Назад</a>
        <form class="form-horizontal form-add form-add-order" method="post" action="">
            <h2 class="form-add__head">{{ page_title }}</h2>
            {% if request.GET.id %}
                <input type="hidden" name="pk" value="{{ request.GET.id }}">
            {% endif %}
{#            <div class="form-add">#}
{#                <div class="control-group">#}
{#                    <label class="control-label">#}
{#                        Номер заказа#}
{#                    </label>#}
{#                    <div class="controls">#}
{#                        {{ unique_number }}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="form-add">
                <div class="control-group">
                    <label class="control-label" for="selectStatus">
                        Статус заказа
                    </label>
                    <div class="controls">
                        {{ order_form.order_status }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputReadyDate">
                        Дата готовности
                    </label>
                    <div class="controls">
                        <div id="readyDate" class="input-append date">
                            {{ order_form.ready_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputShippedDate">
                        Дата отгрузки
                    </label>
                    <div class="controls">
                        <div id="shippedDate" class="input-append date">
                            {{ order_form.shipped_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn">Очистить</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $('#readyDate').datetimepicker({
                    format: 'yyyy-MM-dd hh:mm:ss',
                    language: 'ru',
                    pickSeconds: false,
                    weekStart: 1
                });
                $('#shippedDate').datetimepicker({
                    format: 'yyyy-MM-dd',
                    language: 'ru',
                    pickTime: false,
                    weekStart: 1
                });
                function get_get_params() {
                    var need_get_params = ['page', 'length', 'sort', 'source', 'managers', 'search'];
                    var get_params = "";
                    var is_get_param = false;
                    var all_get_params = window.location.search.substring(1).split("&");
                    for (var i = 0; i < all_get_params.length; ++i) {
                        for (var j = 0; j < need_get_params.length; ++j) {
                            if (all_get_params[i].indexOf(need_get_params[j]) != -1) {
                                is_get_param = true;
                                break;
                            }
                        }
                        if (is_get_param) {
                            get_params += "&" + all_get_params[i];
                        }
                    }
                   return get_params;
                }

                var get_params = get_get_params();

                $('.form-add-order').submit(function(){
                    var $this = $(this);
                    var action = $this.attr('action');
                    $this.attr('action', action + "?" + get_params.slice(1));

                });
                $('.back-button').click(function(){
                    var $this = $(this);
                    var href = $this.attr('href');
                    $this.attr('href', href + "?" + get_params.slice(1));
                });
            });
        })(jQuery);
    </script>
{%endblock%}