{% extends "base.html" %}

{%block content%}
    <div class="container container_full-width">
        {% url 'get_orders' as get_orders_url %}
        {% url 'index' as index_url %}
        {% url 'get_old_orders' as get_old_orders_url %}
        {% block navigation-bar %}
            {% if request.path == get_orders_url or request.path == index_url %}
                {% if user_role == 0 and not client_id %}
                    <a href="{% url "get_old_orders" %}" class="btn">Перейти в архив</a>
                {% endif %}
            {% endif %}
            {% if request.path == get_old_orders_url %}
            <a href="{% url "get_orders" %}" class="btn">Перейти к заказам</a>
            {% endif %}
        {% endblock navigation-bar %}
        <h2 class="center">{{ page_title }}{{ organization_or_full_name }}</h2>
        {% if request.path == get_orders_url %}
            <div class="center in-production-number">Заказов в производстве: {{ count_in_production }}</div>
        {% endif %}
        {% block get-reports__period-form %}{% endblock %}
        {% block add-bar %}
            {% if request.path == get_orders_url or request.path == index_url  %}
                {% if user_role != 2 %}
                    {% if client_id %}
                        <a href="{% url "add_order" %}?client-id={{ client_id }}" class="btn btn_add-order add-button">Добавить заказ</a>
                    {% else %}
                        <a href="{% url "add_order" %}" class="btn btn_add-order add-button">Добавить заказ</a>
                        {% if user_role == 0 %}
                            <a href="{% url "made_excel" %}" class="btn pull-right">Экспорт e-mail</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endblock add-bar %}
        <div class="row-fluid">
            <div class="span3">
                {% if orders %}
                    <div class="dataTables_length">
                        <label>Показать
                            <select id="selectLength" name="length">
                                <option value="10"{% if request.GET.length == "10" %} selected="selected"{% endif %}>10</option>
                                <option value="25"{% if request.GET.length == "25" %} selected="selected"{% endif %}>25</option>
                                <option value="50"{% if request.GET.length == "50" %} selected="selected"{% endif %}>50</option>
                                <option value="100"{% if request.GET.length == "100" %} selected="selected"{% endif %}>100</option>
                            </select>
                            записей
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="span6">
                {% block manager-checkboxes %}
                    <div class="manager">
                        {% for manager in roles %}
                            <div class="span2">
                                <label class="checkbox">
                                    <input type="checkbox" name="managers[]" class="managers" value="{{ manager.pk }}"
                                        {% if manager.pk|upper in managers %} checked="checked"{% endif %} />
                                    {{ manager.username }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock manager-checkboxes %}
            </div>
            <div class="span3">
                {% if sources %}
                    <div class="source">
                        <select id="selectSource" name="source">
                                <option value="all">Все источники</option>
                            {% for source in sources %}
                                <option value="{{ source.pk }}"{% if request.GET.source == source.pk|urlencode:"" %} selected="selected"{% endif %}>{{ source.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
        </div>
        {% block table %}
        {% if orders %}
            {% load bootstrap_pagination %}
            <form class="form-horizontal form-massive" method="POST">
                <table class="table table-hover table-bordered" id="order-table">
                    <thead>
                        <tr>
                            {% block order-table-headers %}
                            {# 0 #}<th></th>
                            {# 1 #}<th class="sortable{% if request.GET.sort == "role" %} sorting_asc{% elif request.GET.sort == "role_d" %} sorting_desc{% else %} sorting{% endif %}" value="role">Менеджер</th>
                            {# 2 #}<th class="sortable{% if request.GET.sort == "organization" %} sorting_asc{% elif request.GET.sort == "organization_d" %} sorting_desc{% else %} sorting{% endif %}" value="organization">Название организации</th>
                            {# 3 #}<th>Номер заказа</th>
                            {# 4 #}<th class="sortable{% if request.GET.sort == "company" %} sorting_asc{% elif request.GET.sort == "company_d" %} sorting_desc{% else %} sorting{% endif %}" value="company">Компания</th>
                            {# 5 #}<th>Номер счета</th>
                            {# 6 #}<th>Сумма счета</th>
                            {# 7 #}<th class="sortable{% if request.GET.sort == "payment_date" %} sorting_asc{% elif request.GET.sort == "payment_date_d" %} sorting_desc{% else %} sorting{% endif %}" value="payment_date">Дата оплаты</th>
                            {# 8 #}<th>Продукция</th>
                            {# 9 #}<th>Статус</th>
                            {# 10 #}<th class="sortable{% if not request.GET.sort or request.GET.sort == "ready_date" %} sorting_asc{% elif request.GET.sort == "ready_date_d" %} sorting_desc{% else %} sorting{% endif %}" value="ready_date">Дата готовности</th>
                            {# 11 #}<th class="sortable{% if request.GET.sort == "city" %} sorting_asc{% elif request.GET.sort == "city_d" %} sorting_desc{% else %} sorting{% endif %}" value="city">Доставка город</th>
                            {# 12 #}<th class="sortable{% if request.GET.sort == "transport_company" %} sorting_asc{% elif request.GET.sort == "transport_company_d" %} sorting_desc{% else %} sorting{% endif %}" value="transport_company">Транспортная компания</th>
                            {# 13 #}<th>Комментарии</th>
                            {# 14 #}<th></th>
                            {# 15 #}<th></th>
                            {# 16 #}<th></th>
                            {# 17 #}<th></th>
                            {# 18 #}<th></th>
                            {# 19 #}<th class="sorting_desc"></th>
                            {% endblock %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr{% if order.order_status|title == "Готов" %} class="tr_green"{% endif %}>
                                {% block order-table-body__inform_cols %}
                                <td>
                                    {% if user_role == 0 %}
                                        <label class="checkbox">
                                            <input class="checkbox_one" type="checkbox" name="id[]" value="{{ order.pk }}"/>
                                        </label>
                                    {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                                        <label class="checkbox">
                                            <input class="checkbox_one" type="checkbox" name="id[]" value="{{ order.pk }}"/>
                                        </label>
                                    {% endif %}
                                </td>
                                <td>{{ order.role }}</td>
                                <td>
                                    {% if user_role != 2 %}
                                        <a href="#client-info" role="button" data-toggle="modal" class="get-client-info">
                                            <div class="get-client-info__head">
                                                {% if order.client.organization %}
                                                    {{ order.client.organization }}{% if order.client.organization_type %}, {{ order.client.organization_type }}{% endif %}
                                                {% else %}
                                                    {{ order.client.full_name }}
                                                {% endif %}
                                            </div>
                                            <div class="hidden get-client-info__data">
                                                <div class="client-data__full-name">{{ order.client.full_name }}</div>
                                                <div class="client-data__contact-person-phone">{{ order.client.person_phone }}</div>
                                                <div class="client-data__organization">
                                                    {% if order.client.organization %}
                                                        {{ order.client.organization }}{% if order.client.organization_type %}, {{ order.client.organization_type }}{% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="client-data__organization-phone">{{ order.client.organization_phone }}</div>
                                                <div class="client-data__email">{{ order.client.email }}</div>
                                            </div>
                                        </a>
                                    {% else %}
                                        {{ order.client.organization_or_full_name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.unique_number }}</td>
                                <td>{{ order.company.title }}</td>
                                <td>
                                    {% if order.account_number != None %}
                                        {{ order.account_number }}
                                    {% endif %}
                                </td>
                                <td class="no-wrap">
                                    {% if order.bill_right_format != None %}
                                        {% if is_in_debt.is_in_debt %}
                                            <a href="#bill-info" role="button" data-toggle="modal" class="get-bill-info red">
                                                <div class="get-bill-info__head">
                                                    {{ order.bill_right_format }}
                                                </div>
                                                <div class="hidden get-bill-info__data">
                                                    <div class="bill-data__bill">{{ order.bill_right_format }}</div>
                                                    <div class="bill-data__brought_sum">{{ order.brought_sum_right_format }}</div>
                                                    <div class="bill-data__debt">{{ order.debt_right_format }}</div>
                                                </div>
                                            </a>
                                        {% elif is_in_debt.is_full_pay %}
                                            <span class="blue">
                                                {{ order.bill_right_format }}
                                            </span>
                                        {% else %}
                                            {{ order.bill_right_format }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{% if order.payment_date != None %}
                                        {{ order.payment_date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.products %}
                                        {% for product in order.products %}
                                            <div class="no-wrap">
                                                {{ product.product.title }} - {{ product.count_of_products }} шт.
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ order.order_status }}
                                    {% if order.is_shipped %}
                                        {{ order.shipped_date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.ready_date != None %}
                                        {{ order.ready_date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.city != None %}
                                        {{ order.city.name }}
                                    {% endif %}
                                </td>
                                <td>{{ order.transport_campaign.title }}</td>
                                <td>
                                    {% if order.comment %}
                                        <span class="order-comment{% if order.role|urlencode:"" == user.username|urlencode:"" and not order.is_comment_my %} comment_highlighted{% endif %}">{{ order.comment }}</span>
                                        <a class="comment-button" data-toggle="modal" href="#view-order-comment"
                                            value="{{ order.comment }}">...</a>
                                    {% endif %}
                                    {% if order.factory_comment %}
                                        <span class="bold">Информация для пр-ва:</span>
                                        <span class="order-factory-comment{% if order.role|urlencode:"" == user.username|urlencode:"" and not order.is_comment_my %} comment_highlighted{% endif %}">
                                            {{ order.factory_comment }}
                                        </span>
                                        <a class="factory-comment-button" data-toggle="modal" href="#view-order-comment"
                                            value="{{ order.factory_comment }}">...</a>
                                    {% endif %}
                                </td>
                                <td>
                                {% if user_role == 0 %}
                                    {% url 'get_old_orders' as get_old_orders_url %}
                                    {% if request.path == get_old_orders_url or client_id and order.in_archive %}
                                        <a class="btn archive-button" href="{% url "delete_from_archive" %}?id={{ order.pk }}">В заказы</a>
                                    {% else %}
                                        <a class="btn archive-button" href="{% url "add_in_archive" %}?id={{ order.pk }}">В архив</a>
                                    {% endif %}
                                {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                                    <a class="btn archive-button" href="{% url "add_in_archive" %}?id={{ order.pk }}">В архив</a>
                                {% endif %}
                                </td>
                                {% endblock %}
                                <td>
                                    {% if order.files %}
                                        <a class="btn files-button" data-toggle="modal" href="#view-order-files" value="
                                            {% for file in order.files %}
                                                <div class=&quot;file&quot;>
                                                    <a class=&quot;file__link&quot; href=&quot;{{ file.url }}&quot; target=&quot;_blank&quot;>
                                                        <i class=&quot;icon-file&quot;></i>{{ file.name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        "><i class="icon-file"></i></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user_role == 0 %}
                                        <a class="btn edit-button" href="{% url "edit_order" %}?id={{ order.pk }}{% if request.path == get_old_orders_url %}&archive=1{% endif %}"><i class="icon-pencil"></i></a>
                                    {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                                        <a class="btn edit-button" href="{% url "edit_order" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a>
                                    {% elif user_role != 2 %}
                                        <a class="btn edit-button" href="{% url "edit_order_for_other_managers" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a>
                                    {% else %}
                                        <a class="btn edit-button" href="{% url "edit_order_for_factory" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a>
                                    {% endif %}
                                </td>
                                {% block order-table-body__delete-col %}
                                <td>
                                    {% if user_role == 0 %}
                                        <a class="btn delete-button" data-toggle="modal" href="#delete-order" value="{{ order.pk }}">
                                            <i class="icon-remove"></i>
                                        </a>
                                    {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                                        <a class="btn delete-button" data-toggle="modal" href="#delete-order" value="{{ order.pk }}">
                                            <i class="icon-remove"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                {% endblock %}
                                <td> {{ order.order_date }}
                                </td>
                                <td>
                                    {% if order.order_status|title == "Готов" %}
                                        2
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="row-fluid">
                <div class="span5">
                    <div class="action-bar">
                        <div class="action-bar__checkbox">
                            <label class="checkbox">
                                <input class="checkbox_all" type="checkbox"/> Для всех
                            </label>
                        </div>
                        <div class="action-bar__action">
                            {% if user_role == 0 %}
                                <a class="btn massive-change-manager-button">
                                    Сменить менеджера
                                </a>
                            {% endif %}
                            {% if request.path == get_orders_url %}
                                <a class="btn massive-in-archive-button">
                                    В архив
                                </a>
                            {% endif %}
                            <a class="btn massive-delete-button">
                                <i class="icon-remove"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span2 record-number-wrap">
                    <div class="record-number">
                        Количество заказов: {{ count }}
                    </div>
                </div>
                <div class="span5">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        {% bootstrap_paginate orders range=5 previous_label="← Предыдущая" next_label="Следующая →" %}
                    </div>
                </div>
            </div>
            {% block get-reports__sum-number %}{% endblock %}
        {% else %}
            <h5 class="center">Нет ни одного {% block get-reports__shipped %}текущего{% endblock %} заказа</h5>
        {% endif %}
        {% endblock table %}
    </div>

    {% if user_role != 2 %}
    <div class="modal hide fade" id="client-info" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="center">Информация о клиенте</h3>
        </div>
        <div class="modal-body client-info">
            <div class="client-info__item client-info__organization clearfix">
                <div class="client-info__head">
                    Организация
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__organization-phone clearfix">
                <div class="client-info__head">
                    Телефон организации
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person clearfix">
                <div class="client-info__head">
                    Контактное лицо
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person-phone clearfix">
                <div class="client-info__head">
                    Телефон контактного лица
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__email clearfix">
                <div class="client-info__head">
                    E-mail
                </div>
                <div class="client-info__data">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="delete-order" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Вы уверены, что хотите удалить этот заказ?</h3>
        </div>
        <div class="modal-footer">
            <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="massive-delete-order" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Вы уверены, что хотите удалить выделенные заказы?</h3>
        </div>
        <div class="modal-body">
            <h5 class="form-add__please">Пожалуйста, введите слово "УДАЛИТЬ":</h5>
            <div class="center">
                <input id="inputDelete" type="text" name="delete" placeholder="УДАЛИТЬ" required />
            </div>
        </div>
        <div class="modal-footer">
            <button id="massive-delete__ok" class="btn btn-danger" disabled>Удалить</button>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="massive-change-manager" tabindex="-1" role="dialog" aria-labelledby="ChangeManagerLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3 class="center">Смена менеджера</h3>
        </div>
        <div class="modal-body">
            <h5 class="form-add__please">Пожалуйста, выберите менеджера:</h5>
            <div class="center">
                {% if roles %}
                    <select id="selectRole" name="role">
                        {% for role in roles %}
                            <option value="{{ role.pk }}">{{ role.username }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <button id="massive-change-manager__ok" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    {% endif %}
    <div class="modal hide fade" id="view-order-comment" tabindex="-1" role="dialog" aria-labelledby="CommentLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3></h3>
        </div>
        <div class="modal-body">
            <div class="comment__data_modal">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="view-order-files" tabindex="-1" role="dialog" aria-labelledby="FilesLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Прикрепленные к заказу файлы</h3>
        </div>
        <div class="modal-body">
            <div class="files__data_modal">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="bill-info" tabindex="-1" role="dialog" aria-labelledby="billInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="center">Детализация счета</h3>
        </div>
        <div class="modal-body bill-info">
            <div class="bill-info__item bill-info__bill clearfix">
                <div class="bill-info__head">
                    Сумма счета
                </div>
                <div class="bill-info__data">
                </div>
            </div>
            <div class="bill-info__item bill-info__brought-sum clearfix">
                <div class="bill-info__head">
                    Внесенная сумма
                </div>
                <div class="bill-info__data">
                </div>
            </div>
            <div class="bill-info__item bill-info__debt clearfix">
                <div class="bill-info__head">
                    Долг
                </div>
                <div class="bill-info__data">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                var $order_table = $("#order-table");
                $order_table.dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU.txt"
                    },
                    "aoColumnDefs": [
{#                        {% if user_role == 2 %}#}
{#                            { "bVisible": false,  "aTargets": [0, 3, {# 6, } {# 10, } 13, {# 14, } 17, 18, 19] },#}
{#                        {% endif %}#}
                        { "bVisible": false,  "aTargets": [ {% block order-table-scripts__invisible-cols %}18, 19{% endblock %} ]}
                    ],
                    "bFilter": false,
                    "bSort": false,
                    "paging": false,
                    "bInfo": false
                });

                var path = "{{ request.path }}";
                var page = "{% if request.GET.page %}page={{ request.GET.page }}{% endif %}";
                var length = "{% if request.GET.length %}length={{ request.GET.length }}{% endif %}";
                var sort = "{% if request.GET.sort %}sort={{ request.GET.sort }}{% endif %}";
                var source = "{% if request.GET.source %}source={{ request.GET.source }}{% endif %}";
                var managers = "";
                {% if managers %}
                    {% for manager in managers %}
                        managers += "managers[]={{ manager }}&";
                    {% endfor %}
                {% endif %}


                function get_get_params() {
                    var get_params = "";
                    {% if client_id %}get_params += "&client-id={{ client_id  }}";{% endif %}
                    if (page) { get_params += "&" + page; }
                    if (length) { get_params += "&" + length; }
                    if (sort) { get_params += "&" + sort; }
                    if (source) { get_params += "&" + source; }
                    if (managers) { get_params += "&" + managers; }
                    return get_params;
                }

                var get_params = get_get_params();
                var get_params__slice = get_params.slice(1);

                function get_url(without) {
                    var url = path + "?";
                    if (page) { url += page + "&"; }
                    if (without == "length") {
                        if (sort) { url += sort + "&";}
                        if (source) { url += source + "&";}
                        if (managers) { url += managers;}
                    }
                    else {
                        if (without == "sort") {
                            if (length) { url += length + "&"; }
                            if (source) { url += source + "&";}
                            if (managers) { url += managers;}
                        }
                        else {
                            if (length) { url += length + "&"; }
                            if (sort) { url += sort + "&";}
                            if (managers) { url += managers;}
                        }
                    }
                    return url;
                }

                $('.get-client-info').bind('click', function(){
                    var $client_info__data = $('#client-info').find('.modal-body');
                    var full_name = $(this).find('.client-data__full-name').text();
                    $client_info__data.find('.client-info__contact-person > .client-info__data').text(full_name);
                    var person_phone = $(this).find('.client-data__contact-person-phone').text();
                    $client_info__data.find('.client-info__contact-person-phone > .client-info__data').text(person_phone);
                    var organization = $(this).find('.client-data__organization').text();
                    $client_info__data.find('.client-info__organization > .client-info__data').text(organization);
                    var organization_phone = $(this).find('.client-data__organization-phone').text();
                    $client_info__data.find('.client-info__organization-phone > .client-info__data').text(organization_phone);
                    var email = $(this).find('.client-data__email').text();
                    $client_info__data.find('.client-info__email > .client-info__data')
                            .html('<a href="mailto:'+ email + '">'+ email+ '</a>');
                });
                $('.delete-button').bind('click', function(){
                    var id = $(this).attr('value');
                    $('#delete__ok').attr({'href': '{% url "delete_order" %}?id=' + id + get_params});
                });
                $('.comment-button').bind('click', function(){
                    $("#view-order-comment").find("h3").text("Комментарий к заказу");
                    var comment = $(this).attr('value');
                    $('.comment__data_modal').html(comment);
                });
                $('.factory-comment-button').bind('click', function(){
                    $("#view-order-comment").find("h3").text("Информация для производства");
                    var comment = $(this).attr('value');
                    $('.comment__data_modal').html(comment);
                });
                $('.files-button').bind('click', function(){
                    var files = $(this).attr('value');
                    $('.files__data_modal').html(files);
                });
                $('.order-comment').each(function() {
                    var comment = $(this).text();
                    var MAX_LENGTH = 30;
                    if (comment.length < MAX_LENGTH) {
                        return;
                    }
                    comment = comment.substring(0, MAX_LENGTH);
                    var last_space = comment.regexLastIndexOf(/\s/m);
                    if (last_space != -1) {
                        comment = comment.substring(0, last_space);
                    }
                    $(this).text(comment);
                });
                $(".edit-button").click(function() {
                    $(this).attr("href", $(this).attr('href') {% if client_id %}+ "&history=1"{% endif %} + get_params);
                });
                $(".add-button").click(function() {
                    $(this).attr("href", $(this).attr('href') {% if client_id %}+ "&history=1&"{% else %}+ "?"{% endif %} + get_params__slice);
                });
                $(".archive-button").click(function() {
                    $(this).attr("href", $(this).attr('href') + get_params);
                });
                $('.get-bill-info').bind('click', function(){
                    var $bill_info__data = $('#bill-info').find('.modal-body');
                    var bill = $(this).find('.bill-data__bill').text();
                    $bill_info__data.find('.bill-info__bill > .bill-info__data').text(bill);
                    var brought_sum = $(this).find('.bill-data__brought_sum').text();
                    $bill_info__data.find('.bill-info__brought-sum > .bill-info__data').text(brought_sum);
                    var debt = $(this).find('.bill-data__debt').text();
                    $bill_info__data.find('.bill-info__debt > .bill-info__data').text(debt);
                });

                $('#selectLength').change(function() {
                    var value = $(this).val();
                    {% if request.GET.length %}
                        if (value != {{ request.GET.length }}) {
                            document.location.href = get_url("length") + "length=" + value;
                        }
                    {% else %}
                        document.location.href = get_url("length") + "length=" + value;
                    {% endif %}
                });

                $('#selectSource').change(function() {
                    var value = $(this).val();
                    {% if request.GET.source %}
                        if (value == "all") {
                            document.location.href = get_url("source");
                        }
                        else {
                            if (value != {{ request.GET.source }}) {
                                document.location.href = get_url("source") + "source=" + value;
                            }
                        }
                    {% else %}
                        if (value != "all") {
                            document.location.href = get_url("source") + "source=" + value;
                        }
                    {% endif %}
                });

                var $th_sorting = $('th.sortable');

                $th_sorting.click(function(){
                    var $this = $(this);
                    var value = $this.attr('value');
                    var url = get_url("sort") + "sort=" + value;
                    if ($this.hasClass('sorting') || $(this).hasClass('sorting_desc')) {
                        document.location.href = url;
                    }
                    else {
                        document.location.href = url + "_d";
                    }
                });

                function get_managers_url(value) {
                    var url = path + "?";
                    if (page) { url += page + "&"; }
                    if (length) { url += length + "&"; }
                    if (sort) { url += sort + "&";}
                    if (source) { url += source + "&";}
                    if (managers) {
                        {% if managers %}
                            {% for manager in managers %}
                                if ("{{ manager }}" != value)
                                url += "managers[]={{ manager }}&";
                            {% endfor %}
                        {% endif %}
                    }
                    return url;
                }

                var $managers = $('.managers');
                $managers.change(function(){
                    var $this = $(this);
                    var value = $this.attr('value');
                    if ($this.is(":checked")) {
                        var url = document.location.href;
                        var q_ind = url.indexOf('?');
                        if (q_ind == -1) { url += "?";}
                        else {
                            var a_ind = url.indexOf('&');
                            if (q_ind != url.length - 1 && a_ind != url.length - 1) {
                                url += "&";
                            }
                        }
                        document.location.href = url + "managers[]=" + value;
                    }
                    else {
                        document.location.href = get_managers_url(value);
                    }
                });

                var $checkboxes_one = $('.checkbox_one');

                if ($checkboxes_one.length == 0) {
                    $('.action-bar').css({display: "none"});
                } else {
                    var $checkbox_all = $('.checkbox_all');
                    $checkbox_all.change(function() {
                        if($(this).is(":checked")) {
                            $checkboxes_one.prop('checked', true);
                        }
                        else {
                            $checkboxes_one.prop('checked', false);
                        }
                    });

                    $('.massive-delete-button').click(function(){
                        var $checkboxes_checked = $(".checkbox_one:checked");
                        var $checkboxes_checked_length = $checkboxes_checked.length;
                        if ($checkboxes_checked_length == 1) {
                            var id = $checkboxes_checked.val();
                            $('#delete__ok').attr("href", '{% url "delete_order" %}?id=' + id + get_params);
                            $('#delete-order').modal('show');
                        }
                        else {
                            if ($checkboxes_checked_length != 0) {
                                $('#massive-delete-order').modal('show');
                            }
                        }
                    });

                    var $massive_delete_ok = $('#massive-delete__ok');
                    $('#inputDelete').change(function() {
                        if($(this).val() == "УДАЛИТЬ") {
                            $massive_delete_ok.prop( "disabled", false );
                        } else {
                            $massive_delete_ok.prop( "disabled", true );
                        }
                    });
                    var $form = $('.form-massive');
                    $massive_delete_ok.click(function(){
                        $form.attr('action', '{% url "massive_delete_orders" %}?' + get_params__slice).submit();
                    });
                    $('.massive-in-archive-button').click(function(){
                        $form.attr('action', '{% url "massive_add_in_archive" %}?' + get_params__slice).submit();
                    });

                    $('.massive-change-manager-button').click(function(){
                        if ($(".checkbox_one:checked").length != 0) {
                            $('#massive-change-manager').modal('show');
                        }
                    });
                    $('#massive-change-manager__ok').click(function(){
                        var value = $('#selectRole').val();
                        $form.append( '<input type="hidden" name="manager_id" value="' + value + '"/>{% if request.path == get_old_orders_url %}<input type="hidden" name="in_archive" value="1"/>{% endif %}').attr('action', '{% url "massive_change_manager_in_order" %}?' + get_params__slice).submit();
                    });
                }
            });
        })(jQuery);
    </script>
{%endblock%}