{% extends "order_claim/get_orders.html" %}

{% block orders-header__sources %}{% endblock %}

{% block order-table-class %}table-bordered_black table-hover_blank-row{% endblock %}

{% block order-table-headers %}
    {# 0 #}<th>№</th>
    {# 1 #}<th class="sortable{% if request.GET.sort == "organization" %} sorting_asc{% elif request.GET.sort == "organization_d" %} sorting_desc{% else %} sorting{% endif %}" value="organization">Название организации</th>
    {# 2 #}<th class="sortable{% if request.GET.sort == "role" %} sorting_asc{% elif request.GET.sort == "role_d" %} sorting_desc{% else %} sorting{% endif %}" value="role">Менеджер</th>
    {# 3 #}<th>Номер счета</th>
    {# 4 #}<th class="sortable{% if request.GET.sort == "company" %} sorting_asc{% elif request.GET.sort == "company_d" %} sorting_desc{% else %} sorting{% endif %}" value="company">Компания</th>
    {# 5 #}<th class="sortable{% if request.GET.sort == "payment_date" %} sorting_asc{% elif request.GET.sort == "payment_date_d" %} sorting_desc{% else %} sorting{% endif %}" value="payment_date">Дата оплаты</th>
    {# 6 #}<th>Процент оплаты</th>
    {# 7 #}<th>Статус</th>
    {# 8 #}<th>Продукция</th>
    {# 9 #}<th>Информация для пр-ва</th>
    {# 10 #}<th class="sortable{% if request.GET.sort == "city" %} sorting_asc{% elif request.GET.sort == "city_d" %} sorting_desc{% else %} sorting{% endif %}" value="city">Доставка город</th>
    {# 11 #}<th class="sortable{% if request.GET.sort == "transport_company" %} sorting_asc{% elif request.GET.sort == "transport_company_d" %} sorting_desc{% else %} sorting{% endif %}" value="transport_company">Транспортная компания</th>
    {# 12 #}<th class="no-print"></th>

    {# 13 #}<th></th>
    {# 14 #}<th class="sorting_desc"></th>
{% endblock %}

{% block orders_block %}
    {% with orders=ready_orders %}
        {% include "order_claim/modules/get_orders_for_factory__rows.html" %}
    {% endwith %}
    {% block order-table-body__blank-row %}
        <tr class="blank-row">
            <td></td><td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td><td></td>
            <td></td>
        </tr>
        {% include "order_claim/modules/get_orders_for_factory__rows.html" %}
    {% endblock %}
{% endblock %}

{% block order-table-scripts__invisible-cols %}13, 14, 15{% endblock %}