@media print {
	.no-print {
		display: none !important;
	}
	body {
		padding: 0 !important;
	}

	.container_full-width {
		width: 100% !important;
		padding: 0 !important;
	}
}

.table th, .table td {
    padding:1!important;
    vertical-align: top!important;
}