body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.navbar-link_logout {
    padding-left: 20px; 
}
.required-input {
    color: red;
    font-weight: normal;
}
.required-input_second {
    color: blue;
}
.form-add__input, .analyst__btns {
    margin-bottom: 10px;
}
.form-add__input_last {
    margin-bottom: 0;
}
.form-add-client__organization-type {
    width: 60px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
}
.form-add-client__organization-name {
    width: 146px;
}
.form-add, .container_mini-width, form.analyzed-product, form.analyze-sales-by-managers, form.analyze-total-sales {
    margin: 0 auto;
    width: 550px;
    padding: 0 20px; 
}
.form-add-order {
    width: 100%;
}
.form-add__head {
    text-align: center;
}
.form-add__submits {
    text-align: right;
}
.form-add__submits > button {
    margin: 0 5px;
}
.form-add-tips__tip {
    margin-bottom: 10px; 
}
.container_full-width {
    width: 95%;
    padding: 0 20px;
    min-width: 1268px;
}
.dataTables_filter input[type="search"] {
    margin-left: 10px; 
}
.dataTables_length select {
    margin: 0 5px;
}
.client-info__head {
    float: left;
    width: 160px;
    text-align: right;
    font-weight: bold;
}
.client-info__data {
    margin-left: 180px;
}
.client-info__item {
    margin: 5px 0;
}
#add-product-table_wrapper, .select-product-table_wrapper {
    width: 500px;
    padding: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
}
#add-product-table th:last-child, .select-product-table th:last-child {
    width: 34px;
}
.select-product-table th:nth-child(2) {
    width: 85px;
}
.select-product__number {
    width: 71px;
}
.center {
    text-align: center;
}
.text-error {
    font-weight: bold;
    margin-bottom: 10px;
}
input.datetime {
    width: 180px;
}
#inputComments {
    resize: none;
}
select.hidden, div.hidden {
    display: none !important;
}
#analyze-product-table th:nth-child(2) {
    width: 127px;
}
#analyzed-product > form {
    margin: 0;
}
.chart-caption__color {
    float: left;
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    margin-right: 10px;
    vertical-align: bottom;
}
.chart-caption__color_first {
    background-color: rgb(220,220,220);
}
.chart-caption__color_second {
    background-color: rgb(151,187,205);
}
.chart-caption__color_third {
    background-color: rgb(148,204,167);
}
.chart-caption__color_fourth {
    background-color: rgb(238,221,130);
}
.chart-caption__color_fifth {
    background-color: rgb(233,150,122);
}
.analyze-period__wrap {
    height: 230px;
}
#product-table_wrapper {
    margin-bottom: 40px;
}
.btn_add-client, .btn_add-order, .btn_add-claim, .btn_add-company, .btn_add-role{
    margin-bottom: 10px;
}
.comment__data {
    display: none;
}
.container_fixed_width {
    width: 1040px;
}
.nav>li:nth-of-type(3) {
    border-left:2px solid #777;
}
.control-group_inline {
    width: 300px;
    padding-right: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
}
.control-group_inline:first-of-type {
    padding-left: 10px;
}
.analyze-managers {
    margin-bottom: 50px;
}
.analyze-managers__head {
    font-weight: bold;
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
@media print {
    body {
        color: #000;
    }
    .navbar, .btn {
        display: none;
    }
    h2 {
        page-break-after: avoid;
    }
    img {
        max-width: 100% !important;
    }
    a[href^="#"]:after {
    content: "";
    }
    .comment__data {
        display: block;
    }
}