{% block related_claim_modal %}
    <div class="modal hide fade" id="related-claim" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3 class="center"></h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="do-task" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" class="form-horizontal form-add_modal form-do-task">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Выполнение задания</h3>
            </div>
            <div class="modal-body">
                <h5 class="form-add-heading">Пожалуйста, заполните следующую форму:</h5>
                <div class="control-group">
                    <label class="control-label" for="selectEditGroup">
                        Группа
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ product_edit_form.group }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditTitle">
                        Название
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ product_edit_form.title }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditPrice">
                        Цена
                    </label>
                    <div class="controls">
                        {{ product_edit_form.price }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectIsActive">
                        Статус
                    </label>
                    <div class="controls">
                        {{ product_edit_form.is_active }}
                    </div>
                </div>
                <div class="form-add__tips">
                    <div class="form-add-tips__tip">
                        <span class="required-input">*</span> - поля, обязательные для заполнения
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-add__submits">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="reset" class="btn">Очистить</button>
                    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                var table = $("#task-table").DataTable();
                var $form = $(".form-do-task");
                $('.do-checkbox').change(function(){
                    var $this = $(this);
                    if ($this.is(':checked')) {
                        var id = $this.attr('value');
                        var info = table.page.info();
                        var $filter_input = $('#task-table_filter').find('input');
                        $form.attr({'action': '{% url "_product" %}?id=' + id +
                                "&period=" + {% if request.GET.period %}{{ request.GET.period }}{% else %}"today"{% endif %} +
                                "&page=" + (info.page + 1) + "&length=" + info.length + "&search=" + $filter_input.val()});
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}