{% block tasks-settings %}
    <div class="tasks-settings">
        <label for="select-period">Задачи на</label>
        <select id="select-period" name="period">
            <option value="today"{% if request.GET.period == "today" %} selected="selected"{% endif %}>сегодня</option>
            <option value="week"{% if request.GET.period == "week" %} selected="selected"{% endif %}>неделя</option>
            <option value="month"{% if request.GET.period == "month" %} selected="selected"{% endif %}>месяц</option>
            <option value="year"{% if request.GET.period == "year" %} selected="selected"{% endif %}>год</option>
        </select>
        {% if is_senior == True %}
            <label for="select-manager">для</label>
            <select id="select-manager" name="manager">
                {% for manager in roles %}
                    <option value="{{ manager.pk }}"{% if manager.pk|upper == user.pk|upper or manager.pk|upper == request.GET.manager %} selected="selected"{% endif %}>
                        {{ manager.username }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endblock %}

{% block tasks-settings_script %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                var path = "{{ request.path }}";
                var period = "{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}";
                var manager = "{% if is_senior == True %}{% if request.GET.manager %}manager={{ request.GET.manager }}&{% endif %}{% endif %}";

                $('#select-period').change(function() {
                    var value = $(this).val();
                    if (!period || value != "{{ request.GET.period }}") {
                        document.location.href = path + "?" + manager + "period=" + value;
                    }
                });
                {% if is_senior %}
                    $('#select-manager').change(function() {
                        var value = $(this).val();
                        if (!manager || value != "{{ request.GET.manager }}") {
                            document.location.href = path + "?" + period + "manager=" + value;
                        }
                    });
                {% endif %}
            });
        })(jQuery);
    </script>
{% endblock %}