{%extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="center">{{ page_title }}</h2>
        {% include "task/modules/get_tasks__settings.html" %}
        {% if tasks %}
            <table class="table table-hover table-bordered" id="task-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Задача</th>
                        <th>Заявка</th>
                        <th>Организация</th>
                        <th>Контакт</th>
                        <th>Последний комментарий</th>
                        <th>Выполнено</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>
                                {% if task.is_important == True %}
                                    <img src="{{ STATIC_URL }}img/important.png" alt="Важно!" />
                                {% endif %}
                            </td>
                            <td></td>
                            {% if task.order %}
                                <td>
                                    <a href="{% url "edit_order" %}?id={{ order.pk }}" target="_blank">{{ task.order.unique_number }}</a>
                                </td>
                                <td>
                                    {{ task.order.client.organization_type }} {{ task.order.client.organization }}
                                </td>
                                <td>
                                    {{ task.order.contact_face.name }} {{ task.order.contact_face.last_name }}
                                </td>
                                <td>
                                    {{ task.comment }}
                                </td>
                            {% endif %}
                            <td>
                                <label class="checkbox">
                                    <input class="do-checkbox" type="checkbox" value="{{ task.pk }}" data-results='{{ task.results }}'{% if task.is_done == True %} checked="checked"{% endif %}{% if is_senior == True and task.role|urlencode:"" != user.username|urlencode:"" %} disabled readonly{% endif %}/>
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row-fluid datatables_massive datatables_massive_task">
                <div class="record-number">
                    Всего задач: {{ count }}
                </div>
            </div>
        {% else %}
            <h5 class="center">Не было добавлено ни одной задачи</h5>
        {% endif %}
    </div>

    {% block tasks_script %}
        {% if tasks %}
            <script type="text/javascript">
                (function($){
                    $(document).ready(function(){
                        $("#task-table").dataTable({
                            "language": {
                                "url": "{{ STATIC_URL }}language/ru_RU.txt"
                            },
                            "aoColumnDefs": [
                                { "bSearchable": false, "aTargets": [0, 6 ] }
                            ],
                            "bSort": false,
                            "bInfo": false,
                            {% if request.GET.length and start >= 0 %}
                                "iDisplayLength": {{ request.GET.length }},
                                "iDisplayStart": {{ start }},
                            {% endif %}
                            {% if request.GET.search %}
                                "oSearch": {"sSearch": "{{ request.GET.search }}"}
                            {% endif %}
                        });
                    });
                })(jQuery);
            </script>
        {% endif %}
    {% endblock %}

    {% if tasks %}
        {% include "task/modules/do_modal.html" %}
    {% endif %}
{% endblock %}