{%extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="center">{{ page_title }}</h2>
        {% include "task/modules/get_tasks__settings.html" %}
        {% if tasks %}
            <table class="table table-hover table-bordered table-hover_blank-row" id="task-table">
                <thead>
                    <tr>
                        <th>_____</th>
                        {% if is_senior == True %}<th>Менеджер</th>{% endif %}
                        <th>Задача</th>
                        <th>Дата</th>
                        <th>Заявка</th>
                        <th>Организация</th>
                        <th>Контакт</th>
                        <th>Последний комментарий</th>
                        <th>Выполнено</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for date, tasks in tasks_dict.items %}
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    {% if task.is_important == True %}
                                        <img src="{{ STATIC_URL }}img/important.png" alt="Важно!" />
                                    {% endif %}
                                </td>
                                {% if is_senior == True %}
                                    <td>
                                        {{ task.role }}
                                    </td>
                                {% endif %}
                                <td>
                                    {{ task.type.title }}
                                </td>
                                <td>
                                    {{ task.date }}
                                </td>
                                <td>
                                    {% include "task/modules/get_tasks__claim_cell.html" %}
                                </td>
                                <td>
                                    <a href="#client-info" role="button" data-toggle="modal" class="get-client-info">
                                        <div class="get-client-info__head">
                                            {% if task.order.client.organization %}
                                                {{ task.order.client.organization }}{% if task.order.client.organization_type %}, {{ task.order.client.organization_type }}{% endif %}
                                            {% else %}
                                                {{ task.order.client.full_name }}
                                            {% endif %}
                                        </div>
                                        <div class="hidden get-client-info__data">
                                            <div class="client-data__full-name">{{ task.order.client.full_name }}</div>
                                            <div class="client-data__contact-person-phone">{{ task.order.client.person_phone }}</div>
                                            <div class="client-data__organization">
                                                {% if task.order.client.organization %}
                                                    {{ task.order.client.organization }}{% if task.order.client.organization_type %}, {{ task.order.client.organization_type }}{% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="client-data__organization-phone">{{ task.order.client.organization_phone }}</div>
                                            <div class="client-data__email">{{ task.order.client.email }}</div>
                                            <div class="client-data__city">{{ task.order.client.city.name }}</div>
                                            <div class="client-data__comment">{{ task.order.client.comment }}</div>

                                        </div>
                                    </a>
{#                                    {{ task.order.client.organization_type }} {{ task.order.client.organization }}#}
                                </td>
                                <td>
                                    {% include "task/modules/get_tasks__client_cell.html" %}
                                </td>
                                <td>
                                    {{ task.comment }} {{ task.results }}
                                </td>
                                <td>
                                    <label class="checkbox">
                                        <input class="do-checkbox" type="checkbox" value="{{ task.pk }}" data-results='{{ task.results }}'{% if task.is_done == True %} checked="checked"{% endif %}{% if is_senior == True and task.role|urlencode:"" != user.username|urlencode:"" %} disabled readonly{% endif %}/>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn edit-button" data-toggle="modal" href="#edit-task" value="{{ task.pk }}">
                                        <i class="icon-pencil"></i>
                                        <div class="hidden edit-task__data">
                                            <div class="task-data__type">{{ task.type.pk }}</div>
                                            <div class="task-data__date">{{ task.date }}</div>
                                            <div class="task-data__comment">{{ task.comment }}</div>
                                            <div class="task-data__is-important">{% if task.is_important == True %}1{% else %}0{% endif %}</div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% block order-table-body__blank-row %}
                            <tr class="blank-row">
                                <td></td>{% if is_senior == True %}<td></td>{% endif %}
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            {% include "order_claim/modules/get_orders_for_factory__rows.html" %}
                        {% endblock %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="row-fluid datatables_massive datatables_massive_task">
                <div class="record-number">
                    Всего задач: {{ count }}
                </div>
            </div>
        {% else %}
            <h5 class="center">Не было добавлено ни одной задачи</h5>
        {% endif %}
    </div>

    <div class="modal hide fade" id="client-info" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="center">Информация о клиенте</h3>
        </div>
        <div class="modal-body client-info">
            <div class="client-info__item client-info__organization clearfix">
                <div class="client-info__head">
                    Организация
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__organization-phone clearfix">
                <div class="client-info__head">
                    Телефон организации
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person clearfix">
                <div class="client-info__head">
                    Контактные лица
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person-phone clearfix">
                <div class="client-info__head">
                    Телефоны контактных лиц
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__email clearfix">
                <div class="client-info__head">
                    E-mail
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__city clearfix">
                <div class="client-info__head">
                    Город
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__comment clearfix">
                <div class="client-info__head">
                    Коментарий
                </div>
                <div class="client-info__data">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>

    {% block tasks_script %}
        {% if tasks %}
            <script type="text/javascript">
                (function($){
                    $(document).ready(function(){
                        $("#task-table").dataTable({
                            "language": {
                                "url": "{{ STATIC_URL }}language/ru_RU.txt"
                            },
                            "aoColumnDefs": [
                                { "bSearchable": false, "aTargets": [0{% if is_senior == True %}, 9{% else %}, 8{% endif %}] }
                            ],
                            "bSort": false,
                            "bInfo": false,
                            {% if request.GET.length and start >= 0 %}
                                "iDisplayLength": {{ request.GET.length }},
                                "iDisplayStart": {{ start }},
                            {% endif %}
                            {% if request.GET.search %}
                                "oSearch": {"sSearch": "{{ request.GET.search }}"}
                            {% endif %}
                        });

                        $('.get-client-info').bind('click', function(){
                            var $client_info__data = $('#client-info').find('.modal-body');
                            var full_name = $(this).find('.client-data__full-name').text();
                            $client_info__data.find('.client-info__contact-person > .client-info__data').text(full_name);
                            var person_phone = $(this).find('.client-data__contact-person-phone').text();
                            $client_info__data.find('.client-info__contact-person-phone > .client-info__data').text(person_phone);
                            var organization = $(this).find('.client-data__organization').text();
                            $client_info__data.find('.client-info__organization > .client-info__data').text(organization);
                            var organization_phone = $(this).find('.client-data__organization-phone').text();
                            $client_info__data.find('.client-info__organization-phone > .client-info__data').text(organization_phone);
                            var email = $(this).find('.client-data__email').text();
                            $client_info__data.find('.client-info__email > .client-info__data')
                                    .html('<a href="mailto:'+ email + '">'+ email+ '</a>');
                            var city = $(this).find('.client-data__city').text();
                            if (city != 'None') { $client_info__data.find('.client-info__city > .client-info__data').text(city); }
                            var comment = $(this).find('.client-data__comment').text();
                            $client_info__data.find('.client-info__comment > .client-info__data').text(comment);
                        });
                    });
                })(jQuery);
            </script>
        {% endif %}
    {% endblock %}

    {% if tasks %}
        {% include "task/modules/do_modal.html" %}
        {% include "task/modules/edit_task_modal.html" %}
        {% include "client_info_modal.html" %}
        {% include "claim_info_modal.html" %}
    {% endif %}
{% endblock %}