{% extends "base.html" %}

{% block content %}
    {% block template-editor %}
        <div class="container">
            <a href="{% url "get_templates" %}" class="btn">Назад</a>
            <h2 class="center">{{ page_title }}</h2>
        </div>
        <form id="edit-template-form" method="post" action="" enctype="multipart/form-data">
            <div class="word-block">
                <div id="pageEditor" class="summernote">
                    {% if page %}
                        {{ page|safe }}
                    {% else %}
                        <hr />
                        Исх.№{% templatetag openvariable %} number {% templatetag closevariable %} от {% templatetag openvariable %} date {% templatetag closevariable %} г.
                        для {% templatetag openvariable %} organization_name {% templatetag closevariable %}
                        <p></p>
                        <table class="table table-bordered claim-table">
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>Наименование</td>
                                    <td>Кол-во</td>
                                    <td>Ед. изм.</td>
                                    <td>Цена с НДС, руб.</td>
                                    <td>Сумма с НДС, руб.</td>
                                </tr>
                                <tr>
                                    <td colspan="5">Итого</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="accompanyingText">{% templatetag openblock %} accompanying_text|begin {% templatetag closeblock %}
                        Срок изготовления:
                        {% templatetag openblock %} accompanying_text|end {% templatetag closeblock %}</div>
                        <p>
                            Исполнитель: {% templatetag openvariable %} manager.name {% templatetag closevariable %}
                            {% templatetag openvariable %} manager.phone {% templatetag closevariable %}
                            {% templatetag openvariable %} manager.email {% templatetag closevariable %}
                        </p>

                    {% endif %}
                </div>
                <div class="form-add__submits">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="{{ STATIC_URL }}js/summernote.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/summernote-ru-RU.js"></script>
        <script type="text/javascript">
            (function($){
                $(document).ready(function() {
                    var options = {
                        height: 1000,
                        lang: 'ru-RU',
                        toolbar: [
                            ['font', ['bold', 'italic', 'underline', 'clear']],
                            ['image', ['image', 'floatLeft', 'floatRight','floatNone', 'shapeRounded', 'shapeCircle', 'shapeThumbnail', 'shapeNone', 'remove']],
                            ['fontname', ['fontname']],
                            ['fontsize', ['fontsize']],
                            ['para', ['paragraph']],
                            ['height', ['height']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'hr']]
                        ]
                    };
                    var $page = $('#pageEditor');
                    $page.summernote(options);
                    function getHTML($editor) {
{#                        return $editor.next().find('.note-editable').html();#}
                    }

                    $('#edit-template-form').submit(function(e) {
                        var html = getHTML($page);
{#                        html.replace('{% templatetag openblock %} accompanying_text|begin {% templatetag closeblock %}', '');#}
{#                        console.log(html);#}

                        $(this).append('<input type="hidden" name="page" value="' + html + '">');
{#                        return false;#}
                    });
                });
            })(jQuery);
        </script>
    {% endblock %}
{% endblock %}