{% extends "base.html" %}

{% block content %}
    {% block entities %}
        <div class="container">
        <a href="{% url "get_settings" %}" class="btn">Назад</a>
            <h2 class="center">{{ page_title }}</h2>
            {% if error == 1 %}
                <div class="text-error">
                    {% block error__entity-name %}Такой источник{% endblock %} уже существует!
                </div>
            {% endif %}
            {% if entities %}
                <form class="form-horizontal form-massive" method="POST">
                    <table class="table table-hover table-bordered" id="entity-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Название</th>
                                <th>Статус</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input class="checkbox_one" type="checkbox" name="id[]" value="{{ entity.pk }}"/>
                                        </label>
                                    </td>
                                    <td>{{ entity.title }}</td>
                                    <td>
                                        {% if entity.is_active == True %}
                                            Активный
                                        {% else %}
                                            Неактивный
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-mini edit-button" data-toggle="modal" href="#edit-entity" value="{{ entity.pk }}">
                                            <i class="icon-pencil"></i>
                                            <div class="hidden edit-entity__data">
                                                <div class="entity-data__title">{{ entity.title }}</div>
                                                <div class="entity-data__status">{% if entity.is_active == True %}1{% else %}0{% endif %}</div>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-mini delete-button" data-toggle="modal" href="#delete-entity" value="{{ entity.pk }}">
                                            <i class="icon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="row-fluid datatables_massive">
                    <div class="span8 action-bar">
                        <div class="action-bar__checkbox">
                            <label class="checkbox">
                                <input class="checkbox_all" type="checkbox"/> Для всех
                            </label>
                        </div>
                        <div class="action-bar__action">
                            <a class="btn massive-activate-button">
                                Активировать
                            </a>
                            <a class="btn massive-deactivate-button">
                                Деактивировать
                            </a>
                            <a class="btn massive-delete-button">
                                <i class="icon-remove"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="record-number datatables_massive_entity">
                    Всего {% block recond-number__entity-name %}источников{% endblock %}: {{ count }}
                </div>

                <div class="modal hide fade" id="delete-entity" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>Вы уверены, что хотите удалить {% block delete__entity-name %}этот источник{% endblock %}?</h3>
                    </div>
                    <div class="modal-footer">
                        <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                </div>

                <div class="modal hide fade" id="massive-delete-entity" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>Вы уверены, что хотите удалить выделенные {% block massive-delete__entity-name %}источники{% endblock %}?</h3>
                    </div>
                    <div class="modal-body">
                        <h5 class="form-add__please">Пожалуйста, введите слово "УДАЛИТЬ":</h5>
                        <div class="center">
                            <input id="inputDelete" type="text" name="delete" placeholder="УДАЛИТЬ" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="massive-delete__ok" class="btn btn-danger" disabled>Удалить</button>
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                </div>

                <div class="modal hide fade" id="edit-entity" tabindex="-1" role="dialog" aria-hidden="true">
                    <form method="post" class="form-horizontal form-add_modal form-edit-entity">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>Редактирование {% block edit__entity-name %}источника{% endblock %}</h3>
                        </div>
                        <div class="modal-body">
                            <h5 class="form-add-heading">Пожалуйста, заполните следующую форму:</h5>
                            <div class="control-group">
                                <label class="control-label" for="inputEditTitle">
                                    Название
                                    <span class="required-input">*</span>
                                </label>
                                <div class="controls">
                                    {{ entity_edit_form.title }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="selectEditStatus">
                                    Статус
                                </label>
                                <div class="controls">
                                    {{ entity_edit_form.is_active }}
                                </div>
                            </div>
                            <div class="form-add__tips">
                                <div class="form-add-tips__tip">
                                    <span class="required-input">*</span> - поле, обязательное для заполнения
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-add__submits">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <button type="reset" class="btn">Очистить</button>
                                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
               <h5 class="center">Не было добавлено ни {% block no-entities__entity-name %}одного источника{% endblock %}</h5>
            {% endif %}
            <form action="{{ get_url }}" method="post" class="form-add form-horizontal form-add-entity">
                <h5 class="form-add-heading">Для добавления {% block add__entity-name %}источника{% endblock %} заполните, пожалуйста, следующую форму:</h5>
                <div class="control-group">
                    <label class="control-label" for="inputTitle">
                        Название
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ entity_form.title }}
                    </div>
                </div>
                <div class="form-add__tips">
                    <div class="form-add-tips__tip">
                        <span class="required-input">*</span> - поле, обязательное для заполнения
                    </div>
                </div>
                <div class="form-add__submits">
                    <button type="submit" id="add__ok" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block entities__script %}
        <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    {% block entities_urls %}
                        var get_url = '{% url 'get_sources' %}';
                        var edit_url = '{% url 'edit_source' %}';
                        var delete_url = '{% url 'delete_source' %}';
                        var massive_delete_url = '{% url 'massive_delete_sources' %}';
                        var massive_activate_url = '{% url 'massive_activate_source' %}';
                        var massive_deactivate_url = '{% url 'massive_deactivate_source' %}';
                    {% endblock %}

                    {% if entities %}
                        var $entity_table = $("#entity-table");
                        $entity_table.dataTable({
                            "language": {
                                "url": "{{ STATIC_URL }}language/ru_RU_abbr.txt"
                            },
                            "aoColumnDefs": [
                                { "bSortable": false, "aTargets": [0, 3, 4 ] },
                                { "bSearchable": false, "aTargets": [0, 3, 4 ] }
                            ],
                            "order": [1, 'asc' ],
                            "bInfo": false,
                            {% if request.GET.length and start >= 0 %}
                                "iDisplayLength": {{ request.GET.length }},
                                "iDisplayStart": {{ start }},
                            {% endif %}
                            {% if request.GET.search %}
                                "oSearch": {"sSearch": "{{ request.GET.search }}"}
                            {% endif %}
                        });
                        var table = $entity_table.DataTable();
                        $('.delete-button').bind('click', function(){
                            var id = $(this).attr('value');
                            var info = table.page.info();
                            var $filter_input = $('#entity-table_filter').find('input');
                            $('#delete__ok').attr({'href': delete_url + '?id=' + id + "&page=" + (info.page + 1) + "&length=" + info.length + "&search=" + $filter_input.val()});
                        });

                        var $form_edit_entity = $('.form-edit-entity');
                        $('.edit-button').bind('click', function(){
                            var id = $(this).attr('value');
                            var info = table.page.info();
                            var $filter_input = $('#entity-table_filter').find('input');
                            $form_edit_entity.attr({'action': edit_url + '?id=' + id + "&page=" + (info.page + 1) + "&length=" + info.length + "&search=" + $filter_input.val()});
                            var $edit_entity__data = $('#edit-entity').find('.modal-body');
                            var title = $(this).find('.entity-data__title').text();
                            $edit_entity__data.find('#inputEditTitle').val(title);
                            var status = $(this).find('.entity-data__status').text();
                            $edit_entity__data.find('#selectEditStatus').val(status);
                        });

                        var $checkboxes_one = $('.checkbox_one');
                        var $checkbox_all = $('.checkbox_all');
                        $checkbox_all.change(function() {
                            if($(this).is(":checked")) {
                                $checkboxes_one.prop('checked', true);
                            }
                            else {
                                $checkboxes_one.prop('checked', false);
                            }
                        });

                        $('.massive-delete-button').click(function(){
                            var $checkboxes_checked = $(".checkbox_one:checked");
                            var $checkboxes_checked_length = $checkboxes_checked.length;
                            if ($checkboxes_checked_length == 1) {
                                var id = $checkboxes_checked.val();
                                var info = table.page.info();
                                var $filter_input = $('#entity-table_filter').find('input');
                                $('#delete__ok').attr({'href': delete_url + '?id=' + id + "&page=" + (info.page + 1) + "&length=" + info.length + "&search=" + $filter_input.val()});
                                $('#delete-entity').modal('show');
                            }
                            else {
                                if ($checkboxes_checked_length != 0) {
                                    $('#massive-delete-entity').modal('show');
                                }
                            }
                        });
                        var $form = $('.form-massive');
                        var $massive_delete_ok = $('#massive-delete__ok');
                        $('#inputDelete').change(function() {
                            if($(this).val() == "УДАЛИТЬ") {
                                $massive_delete_ok.prop( "disabled", false );
                            } else {
                                $massive_delete_ok.prop( "disabled", true );
                            }
                        });
                        $massive_delete_ok.click(function(){
                            var info = table.page.info();
                            var $filter_input = $('#entity-table_filter').find('input');
                            $form.attr('action',
                                    massive_delete_url + '?page=' + (info.page + 1) + '&length=' + info.length + "&search=" + $filter_input.val()).submit();
                        });
                        $('.massive-activate-button').click(function(){
                            var info = table.page.info();
                            var $filter_input = $('#entity-table_filter').find('input');
                            $form.attr('action',
                                    massive_activate_url + '?page=' + (info.page + 1) + '&length=' + info.length + "&search=" + $filter_input.val()).submit();
                        });
                        $('.massive-deactivate-button').click(function(){
                            var info = table.page.info();
                            var $filter_input = $('#entity-table_filter').find('input');
                            $form.attr('action',
                                    massive_deactivate_url + '?page=' + (info.page + 1) + '&length=' + info.length + "&search=" + $filter_input.val()).submit();
                        });
                    {% endif %}
                    $('#add__ok').click(function() {
                        var info = table.page.info();
                        var $filter_input = $('#entity-table_filter').find('input');
                        $('.form-add-entity').attr({action: get_url + '?page=' + (info.page + 1) + '&length=' + info.length + "&search=" + $filter_input.val()}).submit();
                    });
                });
            })(jQuery);
        </script>
    {%endblock%}
{%endblock%}