{%extends "base.html" %}

{%block content%}
    <div class="container">
        <a href="{% url "get_roles" %}{% if request.GET.page and request.GET.length %}?page={{ request.GET.page }}&length={{ request.GET.length }}{% endif %}" class="btn">Назад</a>
        {% block request.GET.id %}
            {% if request.GET.id %}
                <form class="form-horizontal form-add-role form-add" method="POST" action="{{ request.path }}?id={{ request.GET.id }}{% if request.GET.page and request.GET.length %}&page={{ request.GET.page }}&length={{ request.GET.length }}{% endif %}">
            {% else %}
                <form class="form-horizontal form-add-role form-add" method="POST" action="{{ request.path }}{% if request.GET.page and request.GET.length %}?page={{ request.GET.page }}&length={{ request.GET.length }}{% endif %}">
            {% endif %}
        {% endblock %}
            <h2 class="form-add__head">{{ page_title }}</h2>
            <h5 class="form-add__please">Пожалуйста, заполните следующую форму:</h5>

            {% if error == 1 and role_form.errors %}
                <div class="text-error">
                    Пользователь с таким логином уже существует!
                </div>
            {% endif %}
            {% if error == 2 %}
                <div class="text-error">
                    Для логина и пароля вы можете использовать только латинские буквы и цифры.
                </div>
            {% endif %}
            {% if request.GET.id %}
                <input type="hidden" name="pk" value="{{ request.GET.id }}">
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="inputLogin">
                    Логин
                    <span class="required-input">*</span>
                </label>
                <div class="controls">
                    {{ role_form.username }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">
                    Пароль
                    {% url 'add_role' as add_role_url %}
                    {% if request.path == add_role_url %}
                        <span class="required-input">*</span>
                    {% endif %}
                </label>
                <div class="controls">
                    {{ role_form.password }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="selectRole">
                    Роль
                    <span class="required-input">*</span>
                </label>
                <div class="controls">
                    {{ role_form.role }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSurname">
                    Фамилия
                </label>
                <div class="controls">
                    {{ role_form.surname }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputName">
                    Имя
                </label>
                <div class="controls">
                    {{ role_form.name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPatronymic">
                    Отчество
                </label>
                <div class="controls">
                    {{ role_form.patronymic }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPhone">
                    Телефон
                </label>
                <div class="controls">
                    {{ role_form.phone }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">
                    E-mail
                </label>
                <div class="controls">
                    {{ role_form.email }}
                </div>
            </div>
            <div class="form-add__tips">
                <div class="form-add-tips__tip">
                    <span class="required-input">*</span> - поле, обязательное для заполнения
                </div>
            </div>
            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="reset" class="btn">Очистить</button>
            </div>
        </form>
        {% url 'add_role' as add_role_url %}
        {% if request.path == add_role_url %}
            <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    $('#inputPassword').attr("required", "1");
                });
            })(jQuery);
            </script>
        {% endif %}
    </div>
{%endblock%}
