
                    
                        <hr>
                        Исх.№{{ number }} от {{ date }} г.
                        для {{ organization_name }}
                        <p></p>
                        <table class="table table-bordered claim-table">
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>Наименование</td>
                                    <td>Кол-во</td>
                                    <td>Ед. изм.</td>
                                    <td>Цена с НДС, руб.</td>
                                    <td>Сумма с НДС, руб.</td>
                                </tr>{% for product in products %}<tr class="insert-cycle"><td>{{ product.number }}</td><td style="text-align: left;">{{ product.title }}</td><td>{{ product.count_of_products }}</td><td>шт.</td><td>{{ product.price }}</td><td>{{ product.total_price }}</td></tr>{% endfor %}
                                <tr>
                                    <td colspan="5">Итого</td>
                                    <td>{{ in_total }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="accompanyingText">
                        Срок изготовления:
                        </div>
                        <p>
                            Исполнитель: {{ manager.name }}
                            {{ manager.phone }}
                            {{ manager.email }}
                        </p>

                    
                