{%extends "base.html" %}
{%block content%}
    <div class="container container_full-width">
        <h2 class="center">{{ page_title }}</h2>
        {% url 'get_interested_clients' as get_interested_clients_url %}
        {% if request.path == get_interested_clients_url %}
            <a href="{% url "add_client" %}?is_interested=1" class="btn btn_add-client add-button">Добавить клиента</a>
        {% endif %}
        {% url 'get_clients' as get_clients_url %}
        {% if request.path == get_clients_url %}
            <a href="{% url "add_client" %}" class="btn btn_add-client add-button">Добавить клиента</a>
        {% endif %}
        {% if user_role == 0 %}
            {% block export-to-excel-btn %}
                <a href="#export-to-excel" role="button" data-toggle="modal" class="btn pull-right">Экспорт</a>
            {% endblock %}
        {% endif %}
        {% if clients %}
            {% load bootstrap_pagination %}
            <div class="row-fluid">
                <div class="dataTables_length">
                    <label>Показать
                        <select id="selectLength" name="length">
                            <option value="100"{% if request.GET.length == "100" %} selected="selected"{% endif %}>100</option>
                            <option value="10"{% if request.GET.length == "10" %} selected="selected"{% endif %}>10</option>
                            <option value="25"{% if request.GET.length == "25" %} selected="selected"{% endif %}>25</option>
                            <option value="50"{% if request.GET.length == "50" %} selected="selected"{% endif %}>50</option>
                        </select>
                        записей
                    </label>
                </div>
            </div>
            <form class="form-horizontal form-massive" method="POST">
                <table class="table table-hover table-bordered exported-table" id="client-table">
                    <thead>
                        <tr>
                            {% if user_role != 1 %}
                                {# massive th #}
                                <th></th>
                            {% endif %}
                            <th class="sortable{% if not request.GET.sort or request.GET.sort == "organization" %} sorting_asc{% elif request.GET.sort == "organization_d" %} sorting_desc{% else %} sorting{% endif %}" value="organization">
                                Организация
                            </th>
                            <th class="sortable{% if request.GET.sort == "organization_phone" %} sorting_asc{% elif request.GET.sort == "organization_phone_d" %} sorting_desc{% else %} sorting{% endif %}" value="organization_phone">
                                Телефон организации
                            </th>
                            <th class="sortable{% if request.GET.sort == "name" %} sorting_asc{% elif request.GET.sort == "name_d" %} sorting_desc{% else %} sorting{% endif %}" value="name">
                                Контактное лицо
                            </th>
                            <th class="sortable{% if request.GET.sort == "person_phone" %} sorting_asc{% elif request.GET.sort == "person_phone_d" %} sorting_desc{% else %} sorting{% endif %}" value="person_phone">
                                Телефон контактного лица
                            </th>
                            <th class="sortable{% if request.GET.sort == "email" %} sorting_asc{% elif request.GET.sort == "email_d" %} sorting_desc{% else %} sorting{% endif %}" value="email">
                                E-mail
                            </th>
                            <th class="sortable{% if request.GET.sort == "city" %} sorting_asc{% elif request.GET.sort == "city_d" %} sorting_desc{% else %} sorting{% endif %}" value="city">
                                Город
                            </th>
                            <th>Комментарий</th>
                            {% if request.path == get_clients_url %}
                                <th></th>
                            {% endif %}
                            <th></th>
                            <th></th>
                            <th></th>
                            {% if user_role != 1 %}
                                {# delete th #}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                            <tr>
                                {% if user_role != 1 %}
                                    {# massive td #}
                                    <td>
                                        <label class="checkbox">
                                            <input class="checkbox_one" type="checkbox" name="id[]" value="{{ client.pk }}"/>
                                        </label>
                                    </td>
                                {% endif %}
                                <td>
                                    {% if client.organization %}
                                        {{ client.organization }}{% if client.organization_type %}, {{ client.organization_type }}{% endif %}</td>
                                    {% endif %}
                                <td>{{ client.organization_phone }}</td>
                                <td>{{ client.person_full_name }}</td>
                                <td>{{ client.person_phone }}</td>
                                <td>{{ client.email }}</td>
                                <td>
                                    {% if client.city != None %}
                                        {{ client.city.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if client.comment %}
                                        <span class="client-comment{% if client.role|urlencode:"" == user.username|urlencode:"" and not client.is_comment_my %} comment_highlighted{% endif %}">{{ client.comment }}</span>
                                        <a class="comment-button" data-toggle="modal" href="#view-client-comment"
                                            value="{{ client.comment }}">...</a>
                                    {% endif %}
                                </td>
                                {% if request.path == get_clients_url %}
                                    <td><a class="btn" href="{% url "get_orders" %}?client-id={{ client.pk }}">Заказы</a></td>
                                {% endif %}
                                <td>
                                    {% if request.path == get_interested_clients_url %}
                                        <a class="btn add-order-button" href="{% url "add_claim" %}?client-id={{ client.pk }}">Добавить заявку</a>
                                    {% else %}
                                        <a class="btn add-order-button" href="{% url "add_order" %}?client-id={{ client.pk }}">Добавить заказ</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if client.files %}
                                        <a class="btn files-button" data-toggle="modal" href="#view-client-files" value="
                                            {% for file in client.files %}
                                                <div class=&quot;file&quot;>
                                                    <a class=&quot;file__link&quot; href=&quot;{{ file.url }}&quot; target=&quot;_blank&quot;>
                                                        <i class=&quot;icon-file&quot;></i>{{ file.name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        "><i class="icon-file"></i></a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.path == get_interested_clients_url %}
                                        <a class="btn edit-button" href="{% url "edit_client" %}?id={{ client.pk }}&is_interested=1"><i class="icon-pencil"></i></a>
                                    {% else %}
                                        <a class="btn edit-button" href="{% url "edit_client" %}?id={{ client.pk }}"><i class="icon-pencil"></i></a>
                                    {% endif %}
                                </td>
                                {% if user_role != 1 %}
                                    {# delete td #}
                                    <td>
                                        <a class="btn delete-button" data-toggle="modal" href="#delete-client" value="{{ client.pk }}">
                                        <i class="icon-remove"></i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="row-fluid">
                <div class="span5 action-bar">
                    {% if user_role != 1 %}
                        <div class="action-bar__checkbox">
                            <label class="checkbox">
                                <input class="checkbox_all" type="checkbox"/> Для всех
                            </label>
                        </div>
                        <div class="action-bar__action">
                            {# delete massive #}
                            <a class="btn massive-delete-button">
                                <i class="icon-remove"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="span2 record-number-wrap">
                    <div class="record-number">
                        Количество клиентов: {{ count }}
                    </div>
                </div>
                <div class="span5">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        {% bootstrap_paginate clients range=5 previous_label="← Предыдущая" next_label="Следующая →" %}
                    </div>
                </div>
            </div>
        {% else %}
            <h5 class="center">Не было добавлено ни одного клиента</h5>
        {% endif %}
    </div>

    <div class="modal hide fade" id="view-client-comment" tabindex="-1" role="dialog" aria-labelledby="CommentLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Комментарий к клиенту</h3>
        </div>
        <div class="modal-body">
            <div class="comment__data_modal">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="view-client-files" tabindex="-1" role="dialog" aria-labelledby="FilesLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Прикрепленные к клиенту файлы</h3>
        </div>
        <div class="modal-body">
            <div class="files__data_modal">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>

    {% if user_role != 1 %}
        {# delete modal #}
        <div class="modal hide fade" id="delete-client" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Вы уверены, что хотите удалить этого клиента?</h3>
            </div>
            <div class="modal-footer">
                <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
        </div>

        {# massive delete modal #}
        <div class="modal hide fade" id="massive-delete-client" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Вы уверены, что хотите удалить выделенных клиентов?</h3>
            </div>
            <div class="modal-body">
                <h5 class="form-add__please">Пожалуйста, введите слово "УДАЛИТЬ":</h5>
                <div class="center">
                    <input id="inputDelete" type="text" name="delete" placeholder="УДАЛИТЬ" required />
                </div>
            </div>
            <div class="modal-footer">
                <button id="massive-delete__ok" class="btn btn-danger" disabled>Удалить</button>
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                var path = "{{ request.path }}";
                var page = "{% if request.GET.page %}page={{ request.GET.page }}{% endif %}";
                var length = "{% if request.GET.length %}length={{ request.GET.length }}{% endif %}";
                var sort = "{% if request.GET.sort %}sort={{ request.GET.sort }}{% endif %}";


                function get_get_params() {
                    var get_params = "";
                    if (page) { get_params += "&" + page; }
                    if (length) { get_params += "&" + length; }
                    if (sort) { get_params += "&" + sort; }
                    return get_params;
                }

                var get_params = get_get_params();

                function get_url(without_length) {
                    var url = path + "?";
                    if (page) { url += page + "&"; }
                    if (without_length) {
                        if (sort) { url += sort + "&";}
                    }
                    else {
                        if (length) { url += length + "&"; }
                    }
                    return url;
                }

                {% if user_role != 1 %}
                    {# delete js #}
                    $('.delete-button').bind('click', function(){
                        var id = $(this).attr('value');
                        $('#delete__ok').attr("href", '{% url "delete_client" %}?id=' + id + get_params);
                    });
                {% endif %}
                $(".edit-button").click(function() {
                    $(this).attr("href", $(this).attr('href') + get_params);
                });
                $(".add-button").click(function() {
                    $(this).attr("href", $(this).attr('href') + {% if request.path == get_interested_clients_url %}get_params{% else %}("?" + get_params.slice(1)){% endif %});
                });
                $(".add-order-button").click(function() {
                    $(this).attr("href", $(this).attr('href') + get_params);
                });
                $('.files-button').bind('click', function(){
                    var files = $(this).attr('value');
                    $('.files__data_modal').html(files);
                });
                $('.comment-button').bind('click', function(){
                    var comment = $(this).attr('value');
                    $('.comment__data_modal').html(comment);
                });
                var $select_length = $('#selectLength');

                $select_length.change(function() {
                    var value = $(this).val();
                    {% if request.GET.length %}
                        if (value != {{ request.GET.length }}) {
                            document.location.href = get_url(true) + "length=" + value;
                        }
                    {% else %}
                        document.location.href = get_url(true) + "length=" + value;
                    {% endif %}
                });

                var $th_sorting = $('th.sortable');

                $th_sorting.click (function(){
                    var $this = $(this);
                    var value = $this.attr('value');
                    var url = get_url(false) + "sort=" + value;
                    if ($this.hasClass('sorting') || $(this).hasClass('sorting_desc')) {
                        document.location.href = url;
                    }
                    else {
                        document.location.href = url + "_d";
                    }
                });
                {% if user_role != 1 %}
                    {# massive js #}
                    var $checkboxes_one = $('.checkbox_one');
                    var $checkbox_all = $('.checkbox_all');
                    $checkbox_all.change(function() {
                        if($(this).is(":checked")) {
                            $checkboxes_one.prop('checked', true);
                        }
                        else {
                            $checkboxes_one.prop('checked', false);
                        }
                    });

                    {# massive delete js #}
                    $('.massive-delete-button').click(function(){
                        var $checkboxes_checked = $(".checkbox_one:checked");
                        var $checkboxes_checked_length = $checkboxes_checked.length;
                        if ($checkboxes_checked_length == 1) {
                            var id = $checkboxes_checked.val();
                            $('#delete__ok').attr("href", '{% url "delete_client" %}?id=' + id + get_params);
                            $('#delete-client').modal('show');
                        }
                        else {
                            if ($checkboxes_checked_length != 0) {
                                $('#massive-delete-client').modal('show');
                            }
                        }
                    });

                    var $massive_delete_ok = $('#massive-delete__ok');
                    $('#inputDelete').change(function() {
                        if($(this).val() == "УДАЛИТЬ") {
                            $massive_delete_ok.prop( "disabled", false );
                        } else {
                            $massive_delete_ok.prop( "disabled", true );
                        }
                    });
                    $massive_delete_ok.click(function(){
                        $('.form-massive').append( '{% if request.path == get_interested_clients_url %}<input type="hidden" name="is_interested" value="1"/>{% endif %}').attr('action', '{% url "massive_delete_clients" %}{% if request.path == get_interested_clients_url %}?is_interested=1&{% else %}?{% endif %}' + get_params.slice(1)).submit();
                    });
                {% endif %}
            });
        })(jQuery);
    </script>
    {% with entity='clients' %}
        {% include "export_to_excel_modal.html" %}
    {% endwith %}
{%endblock%}