{%extends "base.html"%}

{%block content%}
    <div class="container">
        <form class="form-horizontal form-add form-add-order" method="post" action="">
            <h2 class="form-add__head">{{ page_title }}</h2>
            <h5 class="form-add__please">Пожалуйста, заполните следующую форму:</h5>
            <div class="text-error">
                {{ order_form.errors }}
            </div>
            <div class="form-add">
                <div class="control-group">
                    <label class="control-label" for="selectClient">
                        Клиент
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {% for client in order_form.organization_or_full_name %}
                            <tr>
                                <td>{{ client }}</td>
                            </tr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <table class="table table-hover table-bordered" id="add-product-table">
                <thead>
                    <tr>
                        <th>Продукция</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if order_form.products %}
                        {% for product in order_form.products %}
                            <tr>
                                <td>{{ product.title }}</td>
                                <td>
                                    <span class="btn btn-success plus pull-right" data-productId="{{ product.pk }}">+</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table><!--
            --><div class="select-product-table_wrapper">
                <table class="select-product-table table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Выбранная продукция</th>
                            <th>Количество</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="select-product-table__plus">
                            <td></td>
                            <td></td>
                            <td><span class="btn btn-success plus pull-right">+</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if order_form.products %}
                <select multiple class="product-select hidden" name="products[]">
                    {% for product in order_form.products %}
                        <option value="{{ product.pk }}"
                            {% if product.count_of_products %}
                                data-number="{{ product.count_of_products }}"
                                selected="selected"
                            {% endif %}
                        >
                            {{ product.title }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
            <div class="form-add">
                <div class="control-group">
                    <label class="control-label" for="selectCompany">
                        Компания
                    </label>
                    <div class="controls">
                        {{ order_form.company }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputBill">
                        Сумма счета
                    </label>
                    <div class="controls">
                        {{ order_form.bill }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPaymentDate">
                        Дата оплаты
                    </label>
                    <div class="controls">
                        <div id="paymentDate" class="input-append date">
                            {{ order_form.payment_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectStatus">
                        Статус
                    </label>
                    <div class="controls">
                        {{ order_form.order_status }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputCity">
                        Доставка (город)
                    </label>
                    <div class="controls">
                        {{ order_form.city }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputComment">
                        Комментарии
                    </label>
                    <div class="controls">
                        {{ order_form.comment }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectSource">
                        Источник
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ order_form.source }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputReadyDate">
                        Дата готовности
                    </label>
                    <div class="controls">
                        <div id="readyDate" class="input-append date">
                            {{ order_form.ready_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-add__tips">
                <div class="form-add-tips__tip">
                    <span class="required-input">*</span> - поля, обязательные для заполнения
                </div>
            </div>
            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn">Отменить</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#add-product-table").dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU_abbr.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 1 ] },
                        { "bSearchable": false, "aTargets": [ 1 ] }
                    ]
                });
                $('#paymentDate').datetimepicker({
                    format: 'dd.MM.yyyy hh:mm',
                    language: 'ru',
                    pickSeconds: false
                });
                $('#readyDate').datetimepicker({
                    format: 'dd.MM.yyyy hh:mm',
                    language: 'ru',
                    pickSeconds: false
                });
                $('select.product-select option:selected').each(function() {
                    var product_id = $(this).attr('value');
                    $('.plus[data-productId="' + product_id + '"]').click();
                });
            });
            $(window).load(function () {
                $("#add-product-table_filter input[type='search']").attr("placeholder", "Поиск");
            });
        })(jQuery);
    </script>
{%endblock%}