{%extends "base.html"%}

{%block content%}
    <div class="container container_fixed_width">
        {% url 'add_claim' as add_claim_url %}
        {% url 'edit_claim' as edit_claim_url %}
        <a href="
        {% if request.path == add_claim_url or request.path == edit_claim_url %}
            {% url "get_claims" %}
        {% else %}
            {% url "get_orders" %}
        {% endif %}
        " class="btn">Назад</a>
        <form class="form-horizontal form-add form-add-order" method="post" action="">
            <h2 class="form-add__head">{{ page_title }}</h2>
            <h5 class="form-add__please">Пожалуйста, заполните следующую форму:</h5>
            {% if error == 1 %}
                <div class="text-error">
                    Ошибка в заполнении формы заказа.
                </div>
            {% endif %}
            {% if error == 2 %}
                <div class="text-error">
                    Данное наименование уже есть в списке продукции.
                </div>
            {% endif %}
            {% if error == 3 %}
                <div class="text-error">
                    Вы не добавили ни один продукт в заказ.
                </div>
            {% endif %}
            {% if request.GET.id %}
                <input type="hidden" name="pk" value="{{ request.GET.id }}">
            {% endif %}
            <div class="form-add">
                <div class="control-group">
                    <label class="control-label" for="selectClient">
                        Клиент
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ order_form.client }}
                        <a class="btn btn-success plus_client">+</a>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputAccountNumber">
                        Номер счета
                    </label>
                    <div class="controls">
                        {{ order_form.account_number }}
                    </div>
                </div>
            </div>
            <table class="table table-hover table-bordered" id="add-product-table">
                <thead>
                    <tr>
                        <th>Продукция</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if order_form.products %}
                        {% for product in order_form.products %}
                            <tr>
                                <td>{{ product.title }}</td>
                                <td>
                                    <span class="btn btn-success plus pull-right" data-productId="{{ product.pk }}">+</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table><!--
            --><div class="select-product-table_wrapper">
                <table class="select-product-table table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Выбранная продукция <span class="required-input">*</span></th>
                            <th>Количество</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="select-product-table__plus">
                            <td></td>
                            <td></td>
                            <td><span class="btn btn-success plus pull-right">+</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if order_form.products %}
                <select multiple class="product-select hidden" name="products[]">
                    {% for product in order_form.products %}
                        <option value="{{ product.pk }}"
                            {% if product.count_of_products %}
                                data-number="{{ product.count_of_products }}"
                                selected="selected"
                            {% endif %}
                        >
                            {{ product.title }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}
            <div class="form-add">
                <div class="control-group">
                    <label class="control-label" for="selectCompany">
                        Компания
                    </label>
                    <div class="controls">
                        {{ order_form.company }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputBill">
                        Сумма счета
                    </label>
                    <div class="controls">
                        {{ order_form.bill }}
                    </div>
                </div>
                {% if request.path == add_claim_url or request.path == edit_claim_url %}
                <div class="control-group">
                    <label class="control-label" for="selectStatus">
                        Статус заявки
                    </label>
                    <div class="controls">
                        {{ order_form.bill_status }}
                    </div>
                </div>
                {% else %}
                <div class="control-group">
                    <label class="control-label" for="inputPaymentDate">
                        Дата оплаты
                    </label>
                    <div class="controls">
                        <div id="paymentDate" class="input-append date">
                            {{ order_form.payment_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputReadyDate">
                        Дата готовности
                    </label>
                    <div class="controls">
                        <div id="readyDate" class="input-append date">
                            {{ order_form.ready_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectStatus">
                        Статус заказа
                    </label>
                    <div class="controls">
                        {{ order_form.order_status }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectBillStatus">
                        Статус оплаты
                    </label>
                    <div class="controls">
                        {{ order_form.bill_status }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputCity">
                        Доставка (город)
                    </label>
                    <div class="controls">
                        {{ order_form.city }}
                    </div>
                </div>
                {% endif %}
                <div class="control-group">
                    <label class="control-label" for="inputComment">
                        Комментарии
                    </label>
                    <div class="controls">
                        {{ order_form.comment }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="selectSource">
                        Источник
                        <span class="required-input">*</span>
                    </label>
                    <div class="controls">
                        {{ order_form.source }}
                    </div>
                </div>
            </div>
            <div class="form-add__tips">
                <div class="form-add-tips__tip">
                    <span class="required-input">*</span> - поля, обязательные для заполнения
                </div>
            </div>
            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn">Очистить</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#add-product-table").dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU_abbr.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 1 ] },
                        { "bSearchable": false, "aTargets": [ 1 ] }
                    ]
                });
                {% if request.path != add_claim_url and request.path != edit_claim_url %}
                $('#paymentDate').datetimepicker({
                    format: 'yyyy-MM-dd hh:mm:ss',
                    language: 'ru',
                    pickSeconds: false
                });
                $('#readyDate').datetimepicker({
                    format: 'yyyy-MM-dd hh:mm:ss',
                    language: 'ru',
                    pickSeconds: false
                });
                {% endif %}
                $('select.product-select option:selected').each(function() {
                    var product_id = $(this).attr('value');
                    $('.plus[data-productId="' + product_id + '"]').click();
                });
                var $select_client = $('#id_client');
                $select_client.attr({
                    'data-live-search': "true",
                    'data-size': "10"
                });
                $select_client.selectpicker();
                var $select_company = $('#id_company');
                $select_company.attr({
                    'data-live-search': "true",
                    'data-size': "10"
                });
                $select_company.selectpicker();
            });
            $(window).load(function () {
                $("#add-product-table_filter input[type='search']").attr("placeholder", "Поиск");
            });
        })(jQuery);
    </script>
{%endblock%}