{%extends "base.html"%}

{%block content%}
    <div class="container">
        <a href="{% url "get_companies" %}{% if request.GET.page and request.GET.length %}?page={{ request.GET.page }}&length={{ request.GET.length }}{% endif %}" class="btn">Назад</a>
        {% block request.GET.id %}
            {% if request.GET.id %}
                <form class="form-horizontal form-add form-add-company" method="POST" action="{{ request.path }}?id={{ request.GET.id }}">
            {% else %}
                <form class="form-horizontal form-add form-add-company" method="POST" action="{{ request.path }}">
            {% endif %}
        {% endblock %}
            <h2 class="form-add__head">{{ page_title }}</h2>
            <h5 class="form-add__please">Пожалуйста, заполните следующую форму:</h5>
            {% if error == 1 %}
                <div class="text-error">
                    Такое название уже существует!
                </div>
            {% endif %}
            {% if request.GET.id %}
                <input type="hidden" name="pk" value="{{ request.GET.id }}">
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="inputTitle">
                    Название
                    <span class="required-input">*</span>
                </label>
                <div class="controls">
                    {{ company_form.title }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputRepresentative">
                    Представитель
                </label>
                <div class="controls">
                     <div class="form-add__input">
                        {{ company_form.last_name }}
                    </div>
                    <div class="form-add__input">
                        {{ company_form.name }}
                    </div>
                    <div class="form-add__input_last">
                        {{ company_form.patronymic }}
                    </div>
                </div>
            </div>
            <div class="form-add__tips">
                <div class="form-add-tips__tip">
                    <span class="required-input">*</span> - поле, обязательное для заполнения
                </div>
            </div>
            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="reset" class="btn">Очистить</button>
            </div>
        </form>
    </div>
{%endblock%}