{%extends "base.html"%}

{%block content%}
    <script src="{{ STATIC_URL }}js/Chart.min.js"></script>

    <div class="container">
    <a href="{% url "analyst" %}" class="btn">Назад</a>
        <h2 class="center">{{ page_title }}</h2>
        <form method="get" action="{% url "analyze_sales_by_managers" %}" class="analyze-sales-by-managers form-horizontal">
            <div class="control-group">
                <label class="control-label" for="selectPeriod">
                    Период
                </label>
                <div class="controls">
                    <select name="period" id="selectPeriod">
                        <option value="month"{% if request.GET.period == "month" %} selected="selected"{% endif %}>Последний месяц</option>
                        <option value="year"{% if request.GET.period == "year" %} selected="selected"{% endif %}>По месяцам</option>
                        <option value="all"{% if request.GET.period == "all" %} selected="selected"{% endif %}>Весь период продаж</option>
                    </select>
                </div>
            </div>
            <input class="btn btn-primary pull-right" type="submit" value="Анализировать" />
        </form>
        {% if select_period %}
            <canvas id="analyze-sales-by-managers-chart" width="940" height="400"></canvas>
            <div class="chart-caption">
                <div class="chart-caption__color chart-caption__color_first"></div>
                Поступило звонков
            </div>
            <div class="chart-caption">
                <div class="chart-caption__color chart-caption__color_second"></div>
                Выставлено счетов
            </div>
            <div class="chart-caption">
                <div class="chart-caption__color chart-caption__color_third"></div>
                Отгружено
            </div>
            <script type="text/javascript">
                (function($){
                    $(document).ready(function(){
                        var ctx = document.getElementById("analyze-sales-by-managers-chart").getContext("2d");
                        var data = {
                            labels: [
                                {% if select_period %}
                                    {% for select_period__title in select_period %}
                                        '{{ select_period__title }}',
                                    {% endfor %}
                                {% endif %}],
                            datasets: [
                                {
                                    label: "Воронка продаж по менеджерам: поступило звонков",
                                    fillColor: "rgba(220,220,220,0.2)",
                                    strokeColor: "rgba(220,220,220,1)",
                                    pointColor: "rgba(220,220,220,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(220,220,220,1)",
                                    data: [{{ call_data }}]
                                },
                                {
                                    label: "Воронка продаж по менеджерам: выставлено счетов",
                                    fillColor: "rgba(151,187,205,0.2)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    pointColor: "rgba(151,187,205,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(151,187,205,1)",
                                    data: [{{ bill_data }}]
                                },
                                {
                                    label: "Воронка продаж по менеджерам: отгружено",
                                    fillColor: "rgba(148,204,167,0.2)",
                                    strokeColor: "rgba(148,204,167,1)",
                                    pointColor: "rgba(148,204,167,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(148,204,167,1)",
                                    data: [{{ shipped_data }}]
                                }
                            ]
                        };
                        var analyzedSalesByManagersChart = new Chart(ctx).Line(data);
                    });
                })(jQuery);
            </script>
        {% endif %}
    </div>
{%endblock%}