{% block client-info_modal %}
<div class="modal hide fade" id="client-info" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="center">Информация о клиенте</h3>
    </div>
    <div class="modal-body client-info">
        <div class="client-info__item client-info__organization clearfix">
            <div class="client-info__head">
                Организация
            </div>
            <div class="client-info__data">
            </div>
        </div>
        <div class="client-info__item client-info__organization-phone clearfix">
            <div class="client-info__head">
                Телефон организации
            </div>
            <div class="client-info__data">
            </div>
        </div>
        <div class="client-info__item client-info__contact-person clearfix">
            <div class="client-info__head">
                Контактные лица
            </div>
            <div class="client-info__data">
            </div>
        </div>
        <div class="client-info__item client-info__contact-person-phone clearfix">
            <div class="client-info__head">
                Телефоны контактных лиц
            </div>
            <div class="client-info__data">
            </div>
        </div>
        <div class="client-info__item client-info__email clearfix">
            <div class="client-info__head">
                E-mail
            </div>
            <div class="client-info__data">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>
{% endblock %}
{% block client-info_script %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.get-client-info').bind('click', function () {
                    var $client_info__data = $('#client-info').find('.modal-body');
                    var full_name = $(this).find('.client-data__full-name').text();
                    $client_info__data.find('.client-info__contact-person > .client-info__data').text(full_name);
                    var person_phone = $(this).find('.client-data__contact-person-phone').text();
                    $client_info__data.find('.client-info__contact-person-phone > .client-info__data').text(person_phone);
                    var organization = $(this).find('.client-data__organization').text();
                    $client_info__data.find('.client-info__organization > .client-info__data').text(organization);
                    var organization_phone = $(this).find('.client-data__organization-phone').text();
                    $client_info__data.find('.client-info__organization-phone > .client-info__data').text(organization_phone);
                    var email = $(this).find('.client-data__email').text();
                    $client_info__data.find('.client-info__email > .client-info__data')
                            .html('<a href="mailto:' + email + '">' + email + '</a>');
                });
            });
        })(jQuery);
    </script>
{% endblock %}