{%extends "base.html"%}

{%block content%}
    <div class="container">
            {% url "edit_claim_for_other_managers" as edit_claim_for_other_managers_url %}
            <a href="
            {% if request.GET.search %}
            {% url "search" %}{% elif request.path == edit_claim_for_other_managers_url %}
                {% url "get_claims" %}{% else %}
                {% url "get_orders" %}{% endif %}" class="btn back-button">Назад</a>
            <a href="
            {% if request.path == edit_claim_for_other_managers_url %}
                {% url "add_claim" %}?copy={{ request.GET.id }}" class="btn pull-right">Копировать заявку
            {% else %}
                {% url "add_order" %}?copy={{ request.GET.id }}" class="btn pull-right">Копировать заказ
            {% endif %}</a>
        <form class="form-horizontal form-add form-add-order" method="post" action="">
            <h2 class="form-add__head">{{ page_title }}</h2>
            <input type="hidden" name="pk" value="{{ request.GET.id }}">
            <div class="form-add">
                <div class="control-group">
                    <label class="control-label">
                        Комментарии
                    </label>
                    <div class="controls">
                        {{ order_form.comment }}
                    </div>
                </div>
            </div>
            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn">Очистить</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                function get_get_params() {
                    var need_get_params = ['page', 'length', 'sort', 'source', 'managers', 'search'];
                    var get_params = "";
                    var is_get_param = false;
                    var all_get_params = window.location.search.substring(1).split("&");
                    for (var i = 0; i < all_get_params.length; ++i) {
                        for (var j = 0; j < need_get_params.length; ++j) {
                            if (all_get_params[i].indexOf(need_get_params[j]) != -1) {
                                is_get_param = true;
                                break;
                            }
                        }
                        if (is_get_param) {
                            get_params += "&" + all_get_params[i];
                        }
                    }
                   return get_params;
                }

                var get_params = get_get_params();

                $('.form-add-order').submit(function(){
                    var $this = $(this);
                    var action = $this.attr('action');
                    $this.attr('action', action + "?" + get_params.slice(1));

                });
                $('.back-button').click(function(){
                    var $this = $(this);
                    var href = $this.attr('href');
                    $this.attr('href', href + "?" + get_params.slice(1));
                });
            });
        })(jQuery);
    </script>
{%endblock%}

