{% extends "base.html" %}

{% block content %}
    {% block kp-editor %}
        <div class="container">
            <h2 class="center">{{ page_title }}</h2>
            <form id="edit-kp-form" method="post" action="{% url "generate_kp" %}">
                <div id="page" class="word-block">
                    {{ page|safe }}
                </div>
                <div class="form-add__submits">
                    <button class="btn btn-primary" type="submit" name="format" value="docx">Сохранить как docx</button>
                    <button class="btn btn-primary" type="submit" name="format" value="pdf">Сохранить как pdf</button>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="{{ STATIC_URL }}js/summernote.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/summernote-ru-RU.js"></script>
        <script type="text/javascript">
            (function($){
                $(document).ready(function() {
                    var options = {
                        height: 150,
                        lang: 'ru-RU',
                        toolbar: [
                            ['font', ['bold', 'italic', 'underline', 'clear']],
                            ['para', ['paragraph']],
                            ['insert', ['link']]
                        ]
                    };
                    var $accompanying_text = $('#accompanyingText');
                    $accompanying_text.summernote(options);

                    var $claim_table = $('.claim-table');
                    $claim_table.after('<div class="added-table__wrap center">' +
                            '<a class="btn show-button">Добавить вариант</a>' +
                            '<div id="addedTable" class="hide">' +
                            '<table class="table table-bordered claim-table"></table>' +
                            '</div>' +
                            '<a class="btn hide-button hide">Убрать вариант</a>' +
                            '</div>');
                    var $added_table__wrap = $('.added-table__wrap').addClass('hide');
                    var $added_table = $('#addedTable');
                    $added_table.find('table').html($claim_table.html());
                    $added_table.summernote(options);
                    var $added_table_editor = $added_table.next();
                    $added_table_editor.addClass('hide');
                    $added_table__wrap.removeClass('hide');

                    var $show_button = $('.show-button');
                    var $hide_button = $('.hide-button');
                    $show_button.click(function() {
                        $(this).addClass('hide');
                        $added_table_editor.removeClass('hide');
                        $hide_button.removeClass('hide');
                    });

                    $hide_button.click(function() {
                        $(this).addClass('hide');
                        $added_table_editor.addClass('hide');
                        $show_button.removeClass('hide');
                    });

                    function getHTML($editor) {
                        return $editor.next().find('.note-editable').html()
                    }

                    String.prototype.repeat = function(n) {
                        return new Array( n + 1 ).join(this);
                    };

                    function removeColspan($tr, cols) {
                        if (!$tr) return;
                        var $td_with_colspan = $tr.find('td:first');
                        var text_align = $tr.find('td:first').css('text-align');
                        var td = "<td></td>";
                        var td_with_content_without_opentag = $td_with_colspan.html() + "</td>";
                        var td_with_content = "<td style='" + text_align + "'>" + td_with_content_without_opentag;
                        if (text_align == 'right') {
                            $td_with_colspan.replaceWith(td.repeat(cols - 2) + td_with_content);
                        }
                        else if (text_align == 'left') {
                            $td_with_colspan.replaceWith(td_with_content + td.repeat(cols - 2));
                        }
                        else {
                            td_with_content = '<td style="text-align:right">' + td_with_content_without_opentag
                            if (cols == 6) {
                                $td_with_colspan.replaceWith(td + td_with_content + td.repeat(3));
                            }
                            else {
                                 $td_with_colspan.replaceWith(td + td_with_content + td.repeat(2));
                            }
                        }
                    }

                    var $page = $('#page');

                    $('#edit-kp-form').submit(function() {
                        var $this = $(this);
                        $this.append("<input type=\"hidden\" name=\"accompanying_text\" value='" + getHTML($accompanying_text) + "'>");
                        $accompanying_text.next().replaceWith('{% templatetag openvariable %} accompanying_text|safe {% templatetag closevariable %}');
                        $accompanying_text.remove();

                        var cols = $claim_table.find('tr:first td').size();
                        removeColspan($claim_table.find('tr:last'), cols);

                        if (!$added_table_editor.hasClass('hide')) {
                            var $added_claim_table = $added_table_editor.find('.claim-table');
                            removeColspan($added_claim_table.find('tr:last'), cols);
                            $this.append("<input type=\"hidden\" name=\"added_table\" value='" + getHTML($added_table) + "'>");
                            $added_table__wrap.replaceWith('{% templatetag openvariable %} added_table|safe {% templatetag closevariable %}');
                        }
                        else {
                            $added_table__wrap.remove();
                        }
                        var $organization_name = $('.organization_name');
                        $organization_name.replaceWith($organization_name.val());

                        $page.summernote(options);
                        $this.append("<input type=\"hidden\" name=\"page\" value='" + getHTML($page) + "'>");
{#                        console.log(getHTML($page));#}
{#                        return false;#}
                    });
                });
            })(jQuery);
        </script>
    {% endblock %}
{% endblock %}