{% if user_role == 0 %}
    {% block export-to-excel-modal %}
        <div class="modal hide fade" id="export-to-excel" tabindex="-1" role="dialog" aria-hidden="true">
            <form class="form-horizontal form-add_modal form-export-to-excel" method="post" action="{% url "made_excel" %}?table={{ entity }}{% if request.GET.is_closed %}&is_closed=1{% endif %}">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3 class="center">Экспорт в Excel</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="{{ request.get_full_path }}" />
                    <div class="text-error hide">Ошибка в заполнении формы</div>
                    <h5 class="form-add__please">Пожалуйста, выберите столбцы:</h5>
                    <div class="modal__exported-cols cols2">
                        <label class="checkbox bold">
                            <input class="checkbox_export_all" type="checkbox" name="cols[]" value="all" />
                            Выбрать все
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="export-to-excel__ok" class="btn btn-primary">Экспорт</button>
                    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block export-to-excel-scripts %}
        <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    var $exported_table = $('.exported-table');
                    var $exported_table__th = $exported_table.find('th');
                    var $export_modal = $('#export-to-excel');
                    var $modal__exported_cols = $export_modal.find('.modal__exported-cols');
                    if ('/clients/' == window.location.pathname || '/clients/interested/' == window.location.pathname) {
                        $modal__exported_cols.append('<label class="checkbox">' +
                            '<input class="checkbox_export_one" type="checkbox" name="cols[]" value="' + 'status' + '"/>' +
                            'Статус' + '</label>');
                    }
                    $exported_table__th.each(function() {
                        var $this = $(this);
                        var text = $this.text();
                        if (text != '') {
                            var value = $(this).attr('value');
                            if (value == undefined) {
                                value = 'comment';
                            }
                            $modal__exported_cols.append('<label class="checkbox">' +
                                    '<input class="checkbox_export_one" type="checkbox" name="cols[]" value="' + value + '"/>' +
                                    text + '</label>');
                        }
                    });
                    if ('/claims/' == window.location.pathname) {
                        $modal__exported_cols.append('<label class="checkbox">' +
                            '<input class="checkbox_export_one" type="checkbox" name="cols[]" value="' + 'final_comment' + '"/>' +
                            'Финальный комментарий' + '</label>');
                        $modal__exported_cols.append('<label class="checkbox">' +
                            '<input class="checkbox_export_one" type="checkbox" name="cols[]" value="' + 'reason' + '"/>' +
                            'Причина закрытия' + '</label>');
                    }

                    var $checkboxes_one = $export_modal.find('.checkbox_export_one');

                    var $checkbox_all = $export_modal.find('.checkbox_export_all');
                    $checkbox_all.change(function() {
                        if($(this).is(":checked")) {
                            $checkboxes_one.prop('checked', true);
                        }
                        else {
                            $checkboxes_one.prop('checked', false);
                        }
                    });

                    $checkboxes_one.change(function() {
                        if(!$(this).is(":checked")) {
                            $checkbox_all.prop('checked', false);
                        }
                    });

                    var $form = $('.form-export-to-excel');
                    var $text_error = $export_modal.find('.text-error');
                    $form.submit(function(){
                        if ($(".checkbox_export_one:checked").length == 0) {
                            $text_error.css({display: 'block'});
                            return false;
                        }
                    });
                });
            })(jQuery);
        </script>
    {% endblock %}
{% endif %}
