{%extends "base.html"%}

{%block content%}
    <div class="container">
        {% url 'upload_order_files' as upload_order_files_url %}
        {% if request.path == upload_order_files_url %}
            <a href="{% if is_claim %}{% url "edit_claim" %}{% else %}{% url "edit_order" %}{% endif %}?id={{ request.GET.id }}" class="btn">Перейти к редактированию {% if is_claim %}заявки{% else %}заказа{% endif %}</a>
        {% else %}
            <a href="{% url "edit_client" %}?id={{ request.GET.id }}" class="btn">Перейти к редактированию клиента</a>
        {% endif %}
        <form class="form-horizontal form-add form-add-file" method="post" action="?id={{ request.GET.id }}" enctype="multipart/form-data">
            <h2 class="form-add__head">{{ page_title }}</h2>
            <div class="in-modal">
            {% if files %}
                <table class="table table-bordered table-hover" id="file-table">
                    <th>Название</th>
                    <th></th>
                {% for file in files %}
                    <tr class="file">
                        <td>
                            <a class="file__link" href="{{ file.url }}" target="_blank">
                                <i class="icon-file"></i>{{ file.name }}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-mini delete-button" data-toggle="modal" href="#delete-file" value="{{ file.pk }}">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
            <h5 class="center">Нет ни одного прикрепленного файла</h5>
        {% endif %}
            <h5 class="form-add-heading">Для добавления файла заполните, пожалуйста, следующую форму:</h5>
            <div class="control-group">
                    <label class="control-label">
                        Название
                    </label>
                    <div class="controls">
                        {{ form.title }}
                    </div>
                </div>
            <div class="control-group">
                <label class="control-label">
                    Файл
                    <span class="required-input">*</span>
                </label>
                <div class="controls clearfix">
                    <span class="btn btn-file">
                        <span>Выберите файл</span>
                        {{ form.file }}
                    </span>
                </div>
            </div>
            <div class="form-add__tips">
                <div class="form-add-tips__tip">
                    <span class="required-input">*</span> - поле, обязательное для заполнения
                </div>
            </div>
            </div>
            <div class="form-add__submits">
                <button type="submit" class="btn btn-primary">Добавить файл</button>
            </div>
        </form>
    <div class="text-center">
        {% if request.path == upload_order_files_url %}
            <a href="{% if is_claim %}{% url "get_claims" %}{% else %}{% url "get_orders" %}{% endif %}" class="btn btn_finish">Закончить работу с файлами {% if is_claim %}заявки{% else %}заказа{% endif %}</a>
        {% else %}
            <a href="{% if is_interested %}{% url "get_clients" %}{% else %}{% url "get_interested_clients" %}{% endif %}" class="btn btn_finish">Закончить работу с файлами клиента</a>
        {% endif %}
    </div>
    </div>

    <div class="modal hide fade" id="delete-file" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Вы уверены, что хотите удалить этот файл?</h3>
        </div>
        <div class="modal-footer">
            <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    {% if request.path == upload_order_files_url %}
        {% url "delete_order_files" as delete_files_url %}
    {% else %}
        {% url "delete_client_files" as delete_files_url %}
    {% endif %}
    <script type="text/javascript">
        (function ($){
            $('.btn-file').each(function (){
                var self = this;
                $('input[type=file]', this).change(function (){
                    $(self).next().remove();
                    var value = $(this).val();
                    var fileName = value.substring(value.lastIndexOf('/') + 1);
                    fileName = value.substring(value.lastIndexOf('\\') + 1);
                    var fileExt = fileName.split('.').pop().toLowerCase();
                    $('<span><i class="icon-file icon-' + fileExt + '"></i> ' + fileName + '</span>').insertAfter(self);
                });
            });

            $('.delete-button').bind('click', function(){
                var id = $(this).attr('value');
                $('#delete__ok').attr({'href': '{{ delete_files_url }}?id' +id});
            });
        })(jQuery);
    </script>
{%endblock%}