{%extends "base.html"%}

{%block content%}
    <div class="container container_full-width">
        <a href="{% url "get_old_orders" %}" class="btn">Перейти в архив</a>
        <h2 class="center">{{ page_title }}</h2>
        {% if orders %}
        <table class="table table-hover table-bordered" id="order-table">
            <thead>
                <tr>
                    <th>Менеджер</th>
                    <th>Название организации</th>
                    <th>Номер заказа</th>
                    <th>Компания</th>
                    <th>Номер счета</th>
                    <th>Сумма счета</th>
                    <th>Дата оплаты</th>
                    <th>Продукция</th>
                    <th>Статус</th>
                    <th>Дата готовности</th>
                    <th>Доставка город</th>
                    <th>Комментарии</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.role }}</td>
                        <td>
                            <a href="#client-info" role="button" data-toggle="modal" class="get-client-info">
                                <div class="get-client-info__head">
                                    {{ order.client.organization_or_full_name }}
                                </div>
                                <div class="hidden get-client-info__data">
                                    <div class="client-data__full-name">{{ order.client.full_name }}</div>
                                    <div class="client-data__contact-person-phone">{{ order.client.person_phone }}</div>
                                    <div class="client-data__organization">{{ order.client.organization }}</div>
                                    <div class="client-data__organization-phone">{{ order.client.organization_phone }}</div>
                                    <div class="client-data__email">{{ order.client.email }}</div>
                                </div>
                            </a>
                        </td>
                        <td>{{ order.unique_number }}</td>
                        <td>{{ order.company.title }}</td>
                        <td>{{ order.client.account_number }}</td>
                        <td>{{ order.bill }}</td>
                        <td>{{ order.payment_date }}</td>
                        <td>
                            {% if order.products %}
                                {% for product in order.products %}
                                    <div>
                                        {{ product.product.title }} - {{ product.count_of_products}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ order.order_status }}</td>
                        <td>{{ order.ready_date }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.comment }}</td>
                        <td><a class="btn btn-mini" href="{% url "edit_order" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a></td>
                        <td><a class="btn btn-mini delete-button" data-toggle="modal" href="#delete-order" value="{{ order.pk }}">
                            <i class="icon-remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h5 class="center">Нет ни одного текущего заказа</h5>
        {% endif %}
        <a href="{% url "add_order" %}" class="btn">Добавить заказ</a>
    </div>
    <div class="modal hide fade" id="client-info" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Информация о клиенте &middot; </h3>
        </div>
        <div class="modal-body client-info">
            <div class="client-info__item client-info__contact-person clearfix">
                <div class="client-info__head">
                    Контактное лицо
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person-phone clearfix">
                <div class="client-info__head">
                    Телефон контактного лица
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__organization clearfix">
                <div class="client-info__head">
                    Организация
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__organization-phone clearfix">
                <div class="client-info__head">
                    Телефон организации
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__email clearfix">
                <div class="client-info__head">
                    E-mail
                </div>
                <div class="client-info__data">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>

    <div class="modal hide fade" id="delete-order" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Вы уверены, что хотите удалить этот заказ?</h3>
        </div>
        <div class="modal-footer">
            <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>

    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#order-table").dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 2, 4, 5, 7, 8, 11, 12, 13 ] },
                        { "bSearchable": false, "aTargets": [ 12, 13 ] },
                        { "sType": "de_datetime", "aTargets": [ 6, 9 ] }
                    ]
                });
                $('.get-client-info').bind('click', function(){
                    var organization_or_full_name = $(this).find('.get-client-info__head').text();
                    $('#client-info .modal-header > h3').append(organization_or_full_name);
                    var $client_info__data = $('#client-info .modal-body');
                    var full_name = $(this).find('.client-data__full-name').text();
                    $client_info__data.find('.client-info__contact-person > .client-info__data').text(full_name);
                    var person_phone = $(this).find('.client-data__contact-person-phone').text();
                    $client_info__data.find('.client-info__contact-person-phone > .client-info__data').text(person_phone);
                    var organization = $(this).find('.client-data__organization').text();
                    $client_info__data.find('.client-info__organization > .client-info__data').text(organization);
                    var organization_phone = $(this).find('.client-data__organization-phone').text();
                    $client_info__data.find('.client-info__organization-phone > .client-info__data').text(organization_phone);
                    var email = $(this).find('.client-data__email').text();
                    $client_info__data.find('.client-info__email > .client-info__data')
                            .html('<a href="mailto:'+ email + '">'+ email+ '</a>');
                });
                $('.delete-button').bind('click', function(){
                    var id = $(this).attr('value');
                    $('#delete__ok').attr({'href': '{% url "delete_order" %}?id=' + id});
                });
            });
        })(jQuery);
    </script>
{%endblock%}