{%extends "base.html"%}

{%block content%}
    <div class="container container_full-width">
        {% url 'get_orders' as get_orders_url %}
        {% url 'index' as index_url %}
        {% if request.path == get_orders_url or request.path == index_url %}
            {% if user_role == 0 %}
                <a href="{% url "get_old_orders" %}" class="btn">Перейти в архив</a>
            {% endif %}
        {% endif %}
        {% url 'get_old_orders' as get_old_orders_url %}
        {% if request.path == get_old_orders_url %}
        <a href="{% url "get_orders" %}" class="btn">Перейти к заказам</a>
        {% endif %}
        <h2 class="center">{{ page_title }}{{ organization_or_full_name }}</h2>
        {% if request.path == get_orders_url or request.path == index_url  %}
            {% if user_role != 2 %}
                {% if client_id %}
                    <a href="{% url "add_order" %}?client-id={{ client_id }}" class="btn btn_add-order add-button">Добавить заказ</a>
                {% else %}
                    <a href="{% url "add_order" %}" class="btn btn_add-order add-button">Добавить заказ</a>
                    {% if user_role == 0 %}
                        <a href="{% url "made_excel" %}" class="btn pull-right">Экспорт e-mail</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if orders %}
        <table class="table table-hover table-bordered" id="order-table">
            <thead>
                <tr>
                    <th>Менеджер</th>
                    <th>Название организации</th>
                    <th>Номер заказа</th>
                    <th>Компания</th>
                    <th>Номер счета</th>
                    <th>Сумма счета</th>
                    <th>Дата оплаты</th>
                    <th>Продукция</th>
                    <th>Статус</th>
                    <th>Дата готовности</th>
                    <th>Доставка город</th>
                    <th>Комментарии</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="sorting_desc"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr{% if order.order_status|title == "Готов" %} class="tr_green"{% endif %}>
                        <td>{{ order.role }}</td>
                        <td>
                            {% if user_role != 2 %}
                                <a href="#client-info" role="button" data-toggle="modal" class="get-client-info">
                                    <div class="get-client-info__head">
                                        {% if order.client.organization %}
                                            {{ order.client.organization }}{% if order.client.organization_type %}, {{ order.client.organization_type }}{% endif %}
                                        {% else %}
                                            {{ order.client.full_name }}
                                        {% endif %}
                                    </div>
                                    <div class="hidden get-client-info__data">
                                        <div class="client-data__full-name">{{ order.client.full_name }}</div>
                                        <div class="client-data__contact-person-phone">{{ order.client.person_phone }}</div>
                                        <div class="client-data__organization">
                                            {% if order.client.organization %}
                                                {{ order.client.organization }}{% if order.client.organization_type %}, {{ order.client.organization_type }}{% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="client-data__organization-phone">{{ order.client.organization_phone }}</div>
                                        <div class="client-data__email">{{ order.client.email }}</div>
                                    </div>
                                </a>
                            {% else %}
                                {{ order.client.organization_or_full_name }}
                            {% endif %}
                        </td>
                        <td>{{ order.unique_number }}</td>
                        <td>{{ order.company.title }}</td>
                        <td>{% if order.account_number != None %}
                                {{ order.account_number }}
                            {% endif %}
                        </td>
                        <td class="product-wrap">
                            {% if order.bill_right_format != None %}
                                {% if order.debt_right_format and order.debt_right_format > 0 %}
                                    <a href="#bill-info" role="button" data-toggle="modal" class="get-bill-info red">
                                        <div class="get-bill-info__head">
                                            {{ order.bill_right_format }}
                                        </div>
                                        <div class="hidden get-bill-info__data">
                                            <div class="bill-data__bill">{{ order.bill_right_format }}</div>
                                            <div class="client-data__brought_sum">{{ order.brought_sum_right_format }}</div>
                                            <div class="client-data__debt">{{ order.debt_right_format }}</div>
                                        </div>
                                    </a>
                                {% elif order.debt_right_format == 0 %}
                                    <span class="blue">
                                        {{ order.bill_right_format }}
                                    </span>
                                {% else %}
                                    {{ order.bill_right_format }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{% if order.payment_date != None %}
                                {{ order.payment_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.products %}
                                {% for product in order.products %}
                                    <div class="product-wrap">
                                        {{ product.product.title }} - {{ product.count_of_products }} шт.
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ order.order_status }}
                            {% if order.is_shipped %}
                                {{ order.shipped_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.ready_date != None %}
                                {{ order.ready_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.city != None %}
                                {{ order.city }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.comment %}
                                <span class="order-comment{% if order.role|urlencode:"" == user.username|urlencode:"" and not order.is_comment_my %} comment_highlighted{% endif %}">{{ order.comment }}</span>
                                <a class="comment-button" data-toggle="modal" href="#view-order-comment"
                                    value="{{ order.comment }}">...</a>
                            {% endif %}
                        </td>
                        <td>
                        {% if user_role == 0 %}
                            {% url 'get_old_orders' as get_old_orders_url %}
                            {% if request.path == get_old_orders_url %}
                                <a class="btn" href="{% url "delete_from_archive" %}?id={{ order.pk }}">В заказы</a>
                            {% else %}
                                <a class="btn" href="{% url "add_in_archive" %}?id={{ order.pk }}">В архив</a>
                            {% endif %}
                        {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                            <a class="btn" href="{% url "add_in_archive" %}?id={{ order.pk }}">В архив</a>
                        {% endif %}
                        </td>
                        <td>
                            {% if order.files %}
                                <a class="btn files-button" data-toggle="modal" href="#view-order-files" value="
                                    {% for file in order.files %}
                                        <div class=&quot;file&quot;>
                                            <a class=&quot;file__link&quot; href=&quot;{{ file.url }}&quot; target=&quot;_blank&quot;>
                                                <i class=&quot;icon-file&quot;></i>{{ file.name }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                "><i class="icon-file"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user_role == 0 %}
                                <a class="btn edit-button" href="{% url "edit_order" %}?id={{ order.pk }}{% if request.path == get_old_orders_url %}&archive=1{% endif %}"><i class="icon-pencil"></i></a>
                            {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                                <a class="btn edit-button" href="{% url "edit_order" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a>
                            {% elif user_role != 2 %}
                                <a class="btn edit-button" href="{% url "edit_order_for_other_managers" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a>
                            {% else %}
                                <a class="btn edit-button" href="{% url "edit_order_for_factory" %}?id={{ order.pk }}"><i class="icon-pencil"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user_role == 0 %}
                                <a class="btn delete-button" data-toggle="modal" href="#delete-order" value="{{ order.pk }}">
                                    <i class="icon-remove"></i>
                                </a>
                            {% elif user_role == 1 and order.role|urlencode:"" == user.username|urlencode:"" %}
                                <a class="btn delete-button" data-toggle="modal" href="#delete-order" value="{{ order.pk }}">
                                    <i class="icon-remove"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td> {{ order.order_date }}
                        </td>
                        <td>
                            {% if order.order_status|title == "Готов" %}
                                2
{#                            {% elif order.ready_date == None %}#}
{#                                1#}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h5 class="center">Нет ни одного текущего заказа</h5>
        {% endif %}
    </div>

    {% if user_role != 2 %}
    <div class="modal hide fade" id="client-info" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="center">Информация о клиенте</h3>
        </div>
        <div class="modal-body client-info">
            <div class="client-info__item client-info__organization clearfix">
                <div class="client-info__head">
                    Организация
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__organization-phone clearfix">
                <div class="client-info__head">
                    Телефон организации
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person clearfix">
                <div class="client-info__head">
                    Контактное лицо
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__contact-person-phone clearfix">
                <div class="client-info__head">
                    Телефон контактного лица
                </div>
                <div class="client-info__data">
                </div>
            </div>
            <div class="client-info__item client-info__email clearfix">
                <div class="client-info__head">
                    E-mail
                </div>
                <div class="client-info__data">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="delete-order" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Вы уверены, что хотите удалить этот заказ?</h3>
        </div>
        <div class="modal-footer">
            <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    {% endif %}
    <div class="modal hide fade" id="view-order-comment" tabindex="-1" role="dialog" aria-labelledby="CommentLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Комментарий к заказу</h3>
        </div>
        <div class="modal-body">
            <div class="comment__data_modal">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="view-order-files" tabindex="-1" role="dialog" aria-labelledby="FilesLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Прикрепленные к заказу файлы</h3>
        </div>
        <div class="modal-body">
            <div class="files__data_modal">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal hide fade" id="bill-info" tabindex="-1" role="dialog" aria-labelledby="billInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="center">Детализация счета</h3>
        </div>
        <div class="modal-body bill-info">
            <div class="bill-info__item bill-info__bill clearfix">
                <div class="bill-info__head">
                    Сумма счета
                </div>
                <div class="bill-info__data">
                </div>
            </div>
            <div class="bill-info__item bill-info__brought-sum clearfix">
                <div class="bill-info__head">
                    Внесенная сумма
                </div>
                <div class="bill-info__data">
                </div>
            </div>
            <div class="bill-info__item bill-info__debt clearfix">
                <div class="bill-info__head">
                    Долг
                </div>
                <div class="bill-info__data">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                var $order_table = $("#order-table");
                $order_table.dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 2, 4, 5, 7, 8, 11, 12, 13, 14, 15, 16 ] },
                        { "bSearchable": false, "aTargets": [ 11, 12, 13, 14, 15, 17 ] },
                        { "sType": "de_datetime", "aTargets": [ 6, 9, 16 ] },
                        {% if user_role == 2 %}
                            { "bVisible": false,  "aTargets": [ 3, 5, 12, 15, 16, 17]},
                        {% endif %}
                        { "bVisible": false,  "aTargets": [ 16, 17 ]}
                    ],
                    "order": [
                        [ 17, 'desc' ],
                        [ 9, 'asc' ]
                    ],
                    "aaSortingFixed": [
                        [17, 'desc']
                    ],
                    {% if request.GET.length and start >= 0 %}
                        "iDisplayLength": {{ request.GET.length }},
                        "iDisplayStart": {{ start }}
                    {% endif %}
                });
                var table = $order_table.DataTable();
                $('.get-client-info').bind('click', function(){
                    var $client_info__data = $('#client-info').find('.modal-body');
                    var full_name = $(this).find('.client-data__full-name').text();
                    $client_info__data.find('.client-info__contact-person > .client-info__data').text(full_name);
                    var person_phone = $(this).find('.client-data__contact-person-phone').text();
                    $client_info__data.find('.client-info__contact-person-phone > .client-info__data').text(person_phone);
                    var organization = $(this).find('.client-data__organization').text();
                    $client_info__data.find('.client-info__organization > .client-info__data').text(organization);
                    var organization_phone = $(this).find('.client-data__organization-phone').text();
                    $client_info__data.find('.client-info__organization-phone > .client-info__data').text(organization_phone);
                    var email = $(this).find('.client-data__email').text();
                    $client_info__data.find('.client-info__email > .client-info__data')
                            .html('<a href="mailto:'+ email + '">'+ email+ '</a>');
                });
                $('.delete-button').bind('click', function(){
                    var id = $(this).attr('value');
                    $('#delete__ok').attr({'href': '{% url "delete_order" %}?id=' + id});
                });
                $('.comment-button').bind('click', function(){
                    var comment = $(this).attr('value');
                    $('.comment__data_modal').html(comment);
                });
                $('.files-button').bind('click', function(){
                    var files = $(this).attr('value');
                    $('.files__data_modal').html(files);
                });
                $('.order-comment').each(function() {
                    var comment = $(this).text();
                    var MAX_LENGTH = 30;
                    if (comment.length < MAX_LENGTH) {
                        return;
                    }
                    comment = comment.substring(0, MAX_LENGTH);
                    var last_space = comment.regexLastIndexOf(/\s/m);
                    if (last_space != -1) {
                        comment = comment.substring(0, last_space);
                    }
                    $(this).text(comment);
                });
                $(".edit-button").click(function() {
                    var info = table.page.info();
                    $(this).attr("href", $(this).attr('href') {% if client_id %}+ "&history=1"{% endif %} + "&page=" + (info.page + 1) + "&length=" + info.length);
                });
                $(".add-button").click(function() {
                    var info = table.page.info();
                    $(this).attr("href", $(this).attr('href') {% if client_id %}+ "&history=1"{% else %}+ "?"{% endif %} + "page=" + (info.page + 1) + "&length=" + info.length);
                });
                $('.get-bill-info').bind('click', function(){
                    var $bill_info__data = $('#bill-info').find('.modal-body');
                    var bill = $(this).find('.bill-data__bill').text();
                    $bill_info__data.find('.bill-info__bill > .bill-info__data').text(bill);
                    var brought_sum = $(this).find('.bill-data__brought_sum').text();
                    $bill_info__data.find('.bill-info__brought_sum > .bill-info__data').text(brought_sum);
                    var debt = $(this).find('.bill-data__debt').text();
                    $bill_info__data.find('.bill-info__debt > .bill-info__data').text(debt);
                });
            });
        })(jQuery);
    </script>
{%endblock%}