{%extends "base.html"%}

{%block content%}
    <div class="container container_full-width">
        {% url 'get_interested_clients' as get_interested_clients_url %}
        {% if request.path == get_interested_clients_url %}
            <a href="{% url 'get_clients' %}" class="btn">Назад</a>
        {% endif %}
        <h2 class="center">{{ page_title }}</h2>
        <a href="{% url "add_client" %}" class="btn btn_add-client">Добавить клиента</a>
        {% if clients %}
            <table class="table table-hover table-bordered" id="order-table">
                <thead>
                    <tr>
                        <th>Контактное лицо</th>
                        <th>Телефон контактного лица</th>
                        <th>Организация</th>
                        <th>Телефон организации</th>
                        <th>E-mail</th>
                        <th>Номер счета</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.person_full_name }}</td>
                            <th>{{ client.person_phone }}</th>
                            <td>{{ client.organization }}</td>
                            <td>{{ client.organization_phone }}</td>
                            <td>{{ client.email }}</td>
                            <td>
                                {% if client.account_number != None %}
                                    {{ client.account_number }}
                                {% endif %}
                            </td>
                            <td><a class="btn" href="{% url "add_order" %}?client-id={{ client.pk }}">Добавить заказ</a></td>
                            <td><a class="btn" href="{% url "edit_client" %}?id={{ client.pk }}"><i class="icon-pencil"></i></a></td>
                            <td><a class="btn delete-button" data-toggle="modal" href="#delete-client" value="{{ client.pk }}">
                                <i class="icon-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5 class="center">Не было добавлено ни одного клиента</h5>
        {% endif %}
        <a href="{% url "add_client" %}" class="btn">Добавить клиента</a>
            {% url 'get_clients' as get_clients_url %}
                {% if request.path == get_clients_url %}
                    <a href="{% url "get_interested_clients" %}" class="btn">Перейти к базе "Интересовавшиеся"</a>
                {% endif %}
    </div>
     <div class="modal hide fade" id="delete-client" tabindex="-1" role="dialog" aria-labelledby="clientInfoLabel" aria-hidden="true">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Вы уверены, что хотите удалить этого клиента?</h3>
        </div>
        <div class="modal-footer">
            <a href="" id="delete__ok" class="btn btn-danger">Удалить</a>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#order-table").dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 8, 6, 7 ] },
                        { "bSearchable": false, "aTargets": [ 8, 6, 7 ] }
                    ]
                });
                 $('.delete-button').bind('click', function(){
                    var id = $(this).attr('value');
                    $('#delete__ok').attr({'href': '{% url "delete_client" %}?id=' + id});
                });
            });
        })(jQuery);
    </script>
{%endblock%}