{%extends "base.html"%}

{%block content%}
    <div class="container">
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_managers" %}">Менеджер</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_sales_by_managers" %}">Воронка продаж по менеджерам</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_total_sales" %}">Общая воронка продаж</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_products" %}">Продукт</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_period" %}">Период</a>
        </div>
    </div>
{%endblock%}