{%extends "base.html" %}

{%block content%}
    <div class="container container_mini-width">
        <a href="{% url "analyst" %}" class="btn">Назад</a>
        <div class="analyze-period__wrap clearfix">
            <form method="get" action="" class="form-horizontal form-analyze">
                <h2 class="center">{{ page_title }}</h2>
                <h5>{{ error }}</h5>
                <div class="control-group">
                    <label class="control-label" for="inputSinceDate">
                        C
                    </label>
                    <div class="controls">
                        <div id="sinceDate" class="input-append date">
                            <input type="text" id="inputSinceDate" placeholder="ГГГГ-ММ-ДД ЧЧ:ММ:СС" name="since-date" value="{{ since_date }}"  required="required">
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUntilDate">
                        До
                    </label>
                    <div class="controls">
                        <div id="untilDate" class="input-append date">
                            <input type="text" id="inputUntilDate" placeholder="ГГГГ-ММ-ДД ЧЧ:ММ:СС" name="until-date" value="{{ until_date }}" required="required">
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                {% block period__count %}
                    <div class="control-group">
                        <label class="control-label" for="inputCount">
                            Подсчет по
                        </label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" id="inputCount" name="count" class="count" value="shipped" checked />
                                Отгружено
                            </label>
                            <label class="radio">
                                <input type="radio" name="count" class="count" value="made-claims" {% if request.GET.count == "made-claims" %} checked {% endif %} />
                                Подано заявок
                            </label>
                        </div>
                    </div>
                {% endblock period__count %}
                <input class="btn btn-primary pull-right" type="submit" value="Анализировать" />
            </form>
        </div>
        {% block analyze-table %}
            {% if analysed_data %}
                <table class="table table-hover table-bordered" id="analyze-table">
                    <thead>
                        <tr>
                            <th>Продукция</th>
                            <th>Количество, шт.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in analysed_data %}
                            <tr>
                                <td>{{ product.product__title }}</td>
                                <td>{{ product.number }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endblock analyze-table %}
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#analyze-table").dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU_abbr.txt"
                    }
                });
                $('#sinceDate').datetimepicker({
                    format: 'yyyy-MM-dd hh:mm:ss',
                    language: 'ru',
                    weekStart: 1
                });
                $('#untilDate').datetimepicker({
                    format: 'yyyy-MM-dd hh:mm:ss',
                    language: 'ru',
                    weekStart: 1
                });
            });
            $(window).load(function() {
                $("#analyze-table_filter").find("input[type='search']").attr("placeholder", "Поиск");
            });
        })(jQuery);
    </script>
{%endblock%}