{%extends "base.html" %}

{%block content%}
    <div class="container">
        <a href="{% url "analyst" %}" class="btn">Назад</a>
        <h2 class="center">{{ page_title }}</h2>
        {% if debts %}
            <table class="table table-hover table-bordered" id="debt-table">
                <thead>
                    <tr>
                        <th>Название организации</th>
                        <th>Компания</th>
                        <th>Номер счета</th>
                        <th>Сумма долга</th>
                        <th>Менеджер</th>
                    </tr>
                </thead>
                <tbody>
                    {% for debt in debts %}
                        <tr>
                            <td>
                                {% if debt.client.organization %}
                                    {{ debt.client.organization }}{% if debt.client.organization_type %}, {{ debt.client.organization_type }}{% endif %}
                                {% else %}
                                    {{ debt.client.full_name }}
                                {% endif %}
                            </td>
                            <td>{{ debt.company.title }}</td>
                            <td>
                                {% if debt.account_number != None %}
                                    {{ debt.account_number }}
                                {% endif %}
                            </td>
                            <td>{{ debt.debt_right_format }}</td>
                            <td>{{ debt.role }}</td>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5 class="center">Нет ни одного должника</h5>
        {% endif %}
    </div>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                var $debt_table = $("#debt-table");
                $debt_table.dataTable({
                    "language": {
                        "url": "{{ STATIC_URL }}language/ru_RU.txt"
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 2, 3 ] }
                    ]
                });
                var table = $debt_table.DataTable();
            });
        })(jQuery);
    </script>
{%endblock%}