{%extends "base.html" %}

{%block content%}
    <div class="container">
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_managers" %}">Менеджер</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_products" %}">Продукт</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_product_groups" %}">Группа товаров</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_period" %}">Период (продукт)</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_period_product_groups" %}">Период (группа товаров)</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_debtors" %}">Должники</a>
        </div>
        <div class="analyst__btns">
            <a class="btn" href="{% url "analyze_cities" %}">Доставка (город)</a>
        </div>
    </div>
{%endblock%}