{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="form-add__head">{{ page_title }}</h2>
        <div class="ajax-loadable">
            {% block related-claim-table %}
                {% if related_claims %}
                    <table class="table table-hover table-bordered" id="related-claim-table">
                        <thead>
                            <tr>
                                <th>Менеджер</th>
                                <th>Дата заявки</th>
                                <th>Название организации</th>
                                <th>Продукция</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for claim in related_claims %}
                                <tr>
                                    <td>{% include "order_claim/modules/get_claims__related_with.html" %}{{ claim.role }}</td>
                                    <td>{{ claim.order_date }}</td>
                                    <td>
                                        {% if claim.client.organization %}
                                            {{ claim.client.organization }}{% if claim.client.organization_type %}, {{ claim.client.organization_type }}{% endif %}
                                        {% else %}
                                            {{ claim.client.full_name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if claim.products %}
                                            {% for product in claim.products %}
                                                <div class="no-wrap">
                                                    {{ product.product.title }} - {{ product.count_of_products }} шт.
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn unbind-button" value={{ claim.pk }}>Отвязать заявку</a>
                                    </td>
                                    <td>
                                        <a class="btn edit-button" target="_blank" href="{% url "edit_claim" %}?id={{ claim.pk }}">
                                            <i class="icon-pencil"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn delete-button" data-toggle="modal" href="#delete-claim" value="{{ claim.pk }}">
                                            <i class="icon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5 class="center">Нет ни одной связанной заявки</h5>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}